.about-us-template {
  color: var(--color-white);
.partners{
  .image-container{
    height:100%
  }
  
}
.subtitle-argesta{
  @media(max-width:768px)
  {
    margin-bottom:calc(100vw * 15px / 430px)
  }
}
  .devis-section{
    .content{
      width: calc(100vw - 320px) !important;
  margin: auto;
  max-width:1600px;
  .text-container{
    width:1240px;
  }
  .seconddevis{
    margin-top:80px
  }
  .emptydiv{
    width:calc(100% - 1240px)
    
  }
  @media(max-width:1919px)
  {
    width: calc(100vw * (1600px / 1920px)) !important;
    .seconddevis{
      margin-top:calc(100vw * 80px / 1920px)
    }
    .text-container{
      width:calc(100vw * 1240px / 1920px);
    }
    .emptydiv{
      width:calc(100vw * (1600px - 1240px)/1920px)
      
    }
  }
  @media (max-width: 768px) {
    width: calc(100vw * 344px / 430px) !important;
    margin: auto;
    .text-container{
      width:calc(100vw * 344px / 430px) !important;
    }
    .emptydiv{
      width:0px;
      margin:0px;
      padding:0px
      
    }
  }
    }
    .subtitle-argesta{
      font-size:90px;
      @media(max-width:1919px)
      {
        font-size: calc(100vw * 90px / 1920px);
      }
    }
    .link-before-translate {
      font-size:30px;
      @media(max-width:1919px)
      {
        font-size: calc(100vw * 30px / 1920px);
      }
    }
    
    #itemcont{
      width:400px;
    }

    @media (max-width: 768px){
      .emptydiv{
        width:0%
        
      }
      .rightcontainer{
        width:100%
      }
      .subtitle-argesta{
        font-size:calc(100vw * 40px / 430px);
      }
      .link-before-translate {
        font-size:calc(100vw * 14px / 430px);
      }
    }
  }
  // .image-box-two-section{
  //   display: block;
  // }
  @media (max-width: 768px){
   
  }


  .block {
    margin: 100px 0;

    @media (max-width: 768px){
      margin: calc(100vw * 50px / 430px) 0;
    }
  }

  .image-container .overlay {
    z-index: initial !important;
  }



  // .container {
    //   display: flex;
    //   flex-wrap: wrap;
    //   justify-content: center;
    //   gap: 20px;
    // }
    // .container {
    //   display: block;
    //   justify-content: space-between;  // Adjust the alignment as needed
    //   gap: 5px;
    // }
    .image-box-two-section {
      padding-bottom:0px;
      padding-top:0px;
      .container {
        display: block;
        justify-content: center;
        width:calc(100vw - 320px);
        max-width:1600px;
        margin:auto;
        @media(max-width:1919px)
        {
          width:calc(100vw * 1600px / 1920px)
        }
      }
      .desktopboxes{
        display:block;
        margin-left:-30px;
        @media(max-width:1919px)
        {
          margin-left:calc(100vw * -30px / 1920px) !important
        }
      }
      .mobileboxes{
        display:none;
      }
      @media(max-width: 768px)
        {
          .desktopboxes{
            display:none
          }
          .mobileboxes{
            display:block;
            margin-top:calc(100vw * 20px / 430px);
          }
        }
      .insidebox{
        height:280px;    
        width:280px;
        text-align:center;
        display: flex;
        justify-content: center;
        @media(max-width:1919px)
        {
          height:calc(100vw * 280px / 1920px);
          width:calc(100vw * 280px / 1920px);
        }
        
        @media(max-width: 768px)
        {
          height: calc(100vw * 161px / 430px);
          width: calc(100vw * 161px / 430px);
        }
      }
      .madeinbelgium{
        width:182px;
        margin-bottom:10px;
      }
      .boxpair{
        padding: 0 30px 100px 30px;
      }
      .boxnumber{
        font-weight: bold;
        font: normal normal 110px Lexend;
        small{
          font-weight:300;
          font: normal normal 55px / 58px Lexend;
        }
      }
      .boxtitle{
        font-size:19px;
        font-weight:200;
        font: normal normal 19px / 0px Lexend;
      }
      .adaptedboxtitle{
        margin-top:-10px;
      }
      .morethen{
        font-size:20px;
        margin-bottom: -30px;
      }
      .spacebelow, .belowyearsnumber{
        height:40px;
      }
      @media(max-width:1919px)
      {
        .madeinbelgium{
          width:calc(100vw * 182px / 1920px);
          margin-bottom:calc(100vw * 10px / 1920px)
        }
        .boxpair{
          padding: 0 calc(100vw * 30px / 1920px) calc(100vw * 100px / 1920px) calc(100vw * 30px / 1920px);
        }
        .boxnumber{
          font: normal normal calc(100vw * 110px / 1920px) Lexend;
          small{
            font: normal normal calc(100vw * 55px / 1920px) / calc(100vw * 58px / 1920px) Lexend;
          }
        }
        .boxtitle{
          font: normal normal calc(100vw * 19px / 1920px) / 0px Lexend;
        }
        .adaptedboxtitle{
          margin-top:calc(100vw * -10px / 1920px);
        }
        .morethen{
          font-size:calc(100vw * 20px / 1920px);
          margin-bottom: calc(100vw * -30px / 1920px);
        }
        .spacebelow, .belowyearsnumber{
          height:calc(100vw * 40px / 1920px);
        }
      }
      @media(max-width: 768px)
      {
        .madeinbelgium{
          width:80%;
          height:auto;
          
        }
        .boxpair{
          padding: 0 calc(100vw * 30px / 430px) calc(100vw * 100px / 430px) calc(100vw * 30px / 430px);
        }
        .boxnumber{
          font-size:calc(100vw * 70px / 430px);
          font-weight: bold;
          small{
            font-size:calc(100vw * 35px / 430px);
            font-weight:300
          }
        }
        .boxtitle{
          font-size:calc(100vw * 19px / 430px);
          font-weight:200;
        }
        padding:0px;
        .MuiGrid-spacing-xs-2 > .MuiGrid-item {
          padding: 0 calc(100vw * 8px / 430px);
      }
        .lastbox{
          display:none
        }
        .boxpair{
          margin-right:calc(100vw * 10px / 430px);
        }
        .boximpair{
          margin-left:calc(100vw * 10px / 430px);
        }
        .boxnumber{
          font-size:calc(100vw * 80px / 430px);
          font-weight:500;
        }
        .adaptedboxnumber{
          font-size:calc(100vw * 100px / 430px);
          margin-top:calc(100vw * -10px / 430px);
        }
        .belowyearsnumber{
          height:calc(100vw * 17px / 430px) !important;
        }
        .boxtitle{
          font-size:calc(100vw * 13px / 430px);
          margin-top:0px !important;
          font-weight:normal
        }
        .adaptedboxtitle{
          padding-top:calc(100vw * 15px / 430px);
          margin-top:calc(100vw * -15px / 430px) !important;
        }
      }
    }
    /* YourPage.css or styles.css */
.image-box-two-section .horizontal-box-groups {
  display: flex;
  flex-direction: row;
  gap: 20px;
  width: 100%; /* or specify a fixed width */
}


  .first-section {
    padding-bottom: 120px;
    padding-top:120px;


    @media (max-width: 768px) {
      padding-bottom: 0px;
      padding-top:30px;
      .main-title{
        font-size:calc(100vw * 44px / 430px);
      }
    }
  }

  .wysiwyg {
    p {
      margin: 30px 0;
      @media (max-width: 768px) {
        margin:0px
      }

    }
  }

.video-section{
  padding-top:160px;
  
  .section-container-full{
    width:100%;
  }
  .video-container {
    position: relative;
    height: 600px;
    margin: 100px 0 0 0;

    @media (max-width: 768px) {
      margin: calc(100vw * 50px / 430px) 0;
      height: calc(100vw * 400px / 430px);
    }

    @media (max-width: 580px) {
      height: 300px;
    }
  }
  @media(max-width:1919px)
  {
    padding-top:calc(100vw * 160px / 1920px);
    
    .video-container {
      position: relative;
      height: calc(100vw * 600px / 1920px);
      margin: calc(100vw * 100px / 1920px) 0 0 0;
    }
  }
}
  
.text-image-section{
  .image-container{
    height:100%;
    @media(max-width:768px)
    {
      margin-top:calc(100vw * 21px / 430px)
    }
  }
  // position: relative;
}
  .video-container .video-poster {
    position: absolute;
    display: block;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 20;
    cursor: pointer;
    background-image: url("../public/poster_video.jpeg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  }

  .button-container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 125px;
    z-index: 30;
    cursor: pointer;
  }

  .video-container iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }

  #map {
    width: 80%;
    z-index: 10;
    margin: 100px auto;
    border: solid 1px var(--color-beige);
    position: relative;
    display: flex;
    align-items: center;
    height: 600px;

    @media (max-width: 768px) {
      width: 100%;
      margin: calc(100vw * 50px / 430px) 0;
      height: calc(100vw * 400px / 430px);
    }

    .info {
      color: var(--color-anthracite);
    }
  }

  .link-section {
    display: flex;
    justify-content: flex-start;
    margin-bottom: -100px;

    .circle-link {
      transform: translate(-20%, -20%);
    }

    @media (max-width: 768px) {
      margin-bottom: 0;

      .text-container {
        right: auto;
        left: 5%;
      }

      .circle-link {
        transform: none;
      }
    }
  }

  .block-history {
    position: relative;
    margin-bottom: 300px;
    display: flex;
    justify-content: space-between;

    .text-container {
      width: 50%;
      position: relative;
      z-index: 1;
    }

    .image-behind {
      width: 40%;
    }

    .image-on-top {
      position: absolute;
      bottom: 0px;
      width: 100%;
      transform: translate(50%, 40%);
    }

    @media (max-width: 1500px) {
      .image-on-top {
        transform: translate(50%, 60%);
      }
    }

    @media (max-width: 1300px) {
      margin-bottom: 400px;
      .image-on-top {
        transform: translate(90%, 80%);
      }
    }

    @media (max-width: 1100px) {
      margin-bottom: 100px;
      align-items: center;

      .image-on-top {
        transform: none;
        position: static;
      }
    }

    @media (max-width: 768px) {
      margin-bottom: calc(100vw * 50px / 430px);
      flex-direction: column;

      .text-container {
        width: 100%;
      }

      .image-container {
        width: 100%;
      }

      // .image-behind {
      //   transform: none;
      //   margin-left: 0;
      // }

      // .image-on-top,
      // .image-behind {
      //   position: initial;
      //   width: 100%;
      // }
    }
  }

  .block-text-image {
    position: relative;
    z-index: 1;
    align-items: center;

    @media (max-width: 768px) {
      margin-bottom: 0;
    }
  }

  .block-double-image {
    display: flex;
    align-items: center;

    .image-container {
      width: 50%;
      box-sizing: border-box;

      &:first-child {
        padding-right: 5%;
      }
      &:last-child {
        padding-left: 5%;
      }
    }

    @media (max-width: 768px) {
      flex-direction: column;
      margin-top: 0;

      .image-container {
        width: 100%;
        padding: 0 !important;
        // margin-bottom: 50px;
      }
    }
  }

  .block-network {
    .text-container {
      width: 70%;
    }

    @media (max-width: 768px) {
      .text-container {
        width: 100%;
      }
    }
  }

  // map stuff
  .setup {
    fill: var(--color-anthracite);
  }

  .tooltip {
    display: none;
    color: var(--color-anthracite);
    background: #fff;
    border-radius: 3px;
    box-shadow: 0px 0px 2px 0px #a6a6a6;
    padding: 10px;
    text-shadow: #f5f5f5 0 1px 0;
    opacity: 0.9;
    position: absolute;
  }
}
