.achievements-details-template,
.achievements-category-template {
  .first-section{
    @media(max-width:768px)
    {
      padding-bottom:0px !important;
      
    }
  }
  .section-container {
    width: 85% !important;
    margin: auto;
    @media(max-width: 768px)
    {
      width: calc(100vw * 344px / 430px) !important;
    }
}
  .section-container-second
  {
    @media(max-width: 768px)
    {
      width:100% !important;
    }
  }
  .title-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    .main-title{
      span{
        font-size:50px;
        @media(max-width:1919px)
        {
          font-size:calc(100vw * 50px / 1920px)
        }
      }
    }
    @media (max-width: 768px) {
      flex-direction: column;
      align-items: flex-start;
      .main-title{
        font-size:calc(100vw * 40px / 430px) !important;
        letter-spacing: calc(100vw * -0.84px / 430px);
        line-height: calc(100vw * 47px / 430px) !important;
        span{
          font-size:calc(100vw * 19px / 430px) !important
        }
      }
    }
  }

  h1 {
    line-height: 1.25;

    span {
      display: block;
      text-transform: uppercase;
      letter-spacing: 3.5px;
    }
  }
}

.achievements-category-template .projects {
  margin-top: 100px;

  .image-container {
    width: 760px;
    height: 480px;
    @media(max-width:1919px)
    {
      width: calc(100vw * 760px / 1920px);
    height: calc(100vw * 480px / 1920px);
    }
  }

  .text-container {
    padding-top: 50px;
    padding-right: 50px;
    text-align: right;

    span {
      display: block;
    }
  }

  li {
    a {
      display: flex;
      justify-content: space-between;
      padding: 0;
      margin-bottom: 50px;
      border-top: solid 1px var(--color-anthracite);

      &::before {
        width: 0;
        transition: 1s cubic-bezier(0.22, 1, 0.36, 1);
      }

      &:hover {
        &::before {
          width: 100%;
        }
      }
    }

    &:nth-child(odd) {
      .image-container {
        order: 1;
      }
      .text-container {
        padding-left: 50px;
        padding-right: 0px;
        text-align: left;
      }
    }
  }

  @media (max-width: 768px) {
    
    li{
      a{
        flex-direction:column;
        align-items:flex-start;
        margin-top:calc(100vw * 20px / 430px)
      }
      &:nth-child(even) {
        a{
        align-items:flex-end;
        margin-top:calc(100vw * 50px / 430px);
        .subtitle-poppins{
          padding-right:0px
        }
        .text-container{
          padding-right:calc(100vw * 43px / 430px)
        }
        }
      }
    }
    .image-container {
      min-height: calc(100vw * 200px / 430px);
      order:1;
      width:100%
    }
    .text-container{
      order:0;
      margin-top:calc(100vw * -51px / 430px);
      width:auto;
      margin-left:0px;
      background-color:var(--color-beige);
      padding-left:calc(100vw * 10px / 430px)
      
    }
  
    margin-top: calc(100vw * 90px / 430px);

    .image-container {
      min-height: auto;
      height: calc(100vw * 270.67px / 430px);
      margin-top:calc(100vw * 10px / 430px);
    }


    li {
      .text-container {
        padding: 0;


      }

      &:nth-child(odd) {
        .text-container {
          padding-left: calc(100vw * 43px / 430px);
          padding-right: 0px;
        }
      }
    }
  }
}

.achievements-details-template {
  .gallery-container{
    .image-container{
      height:100%;
    }
  }
  .first-section{
    padding-top:150px;
    @media(max-width:768px)
    {
      padding-bottom:0px !important
    }
  }
  .wysiwyg {
    
    h2 {
      font-family: "argesta_regular";
      margin-top:0px;
      font-size: 80px;
      @media(max-width:1919px)
      {
        font-size:calc(100vw * 80px / 1920px);
      }
      @media(max-width: 768px)
      {
        font-size:calc(100vw * 40px / 430px);
        margin-top:calc(100vw * 10px / 430px);
        margin-bottom:calc(100vw * 10px / 430px);
        em{
          font-size:calc(100vw * 30px / 430px);
          line-height:calc(100vw * 25px / 430px)
        }
      }
    }
  }

  .block {
    margin: 0px 0;

    &:last-child {
      margin-bottom: 0;
    }

    .image-container .overlay {
      z-index: initial !important;
    }

    @media (max-width: 768px) {
      margin: calc(100vw * 50px / 430px) 0;
    }
  }

  .first-content {
    display: flex;
    align-items: center;

    .image-container {
      width: 40%;
    }

    .paragraph {
      width: 40%;
      margin-left: 10%;
    }
  }

  .text-image-block {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom:80px !important;
    @media(max-width:768px)
    {
      margin-bottom:0px !important
    }
    .image-container{
      width:40%
    }
    .paragraph {
      width: 60%;
    }

    &.image-left {
      .image-container {
        order: 1;
        margin-right:5%;
        @media(max-width: 768px)
        {
          margin:auto;
        }
      }

      .paragraph {
        order: 2;
      }
    }

    &.image-right {
      .image-container {
        order: 2;
        margin-left:5%;
        @media(max-width: 768px)
        {
          margin:auto;
        }
      }

      .paragraph {
        order: 1;
      }
    }

    @media (max-width: 768px) {
      .text-container {
        order: 1 !important;
      }

      .image-container {
        order: 2 !important;
      }
    }
  }

  .double-image-block {
    &.images-equal {
      display: flex;
      align-items: center;

      .second {
        box-sizing: border-box;
        padding: 100px;
      }

      @media (max-width: 768px) {
        .second {
          padding: calc(100vw * 50px / 430px);
        }
      }

      @media (max-width: 768px) {
        .second {
          padding: 0px;
        }
      }
    }

    &.images-overlap-1 {
      position: relative;
      display: grid;
      grid-template-columns: repeat(10, 10%);
      grid-template-rows: repeat(8, 75px);
      margin-top: 100px;

      .first {
        width: 100%;
        grid-area: 3/4/9/11;
        position: relative;
        z-index: 20;
      }

      .second {
        position: relative;
        width: 100%;
        grid-area: 1/1/7/5;
      }

      @media (max-width: 768px) {
        display: flex;
        flex-direction: column;
        margin: 0;

        .first,
        .second {
          position: initial;
          width: 100%;
          transform: none;
        }

        .first {
          display: none;
        }
      }
    }

    &.images-overlap-2 {
      position: relative;
      margin-bottom: 250px;
      display: flex;
      align-items: center;

      .first,
      .second {
        width: 50%;
      }

      .first {
        transform: translate(50px, 150px);
        position: relative;
        z-index: 10;
      }

      @media (max-width: 768px) {
        margin: 0;

        .first,
        .second {
          position: initial;
          width: 100%;
          transform: none;
        }
      }
    }

    &.images-overlap-3 {
      position: relative;
      grid-template-columns: repeat(10, 10%);
      grid-template-rows: repeat(8, 75px);
      display: grid;

      .first {
        grid-area: 1/4/7/11;
        width: 100%;
      }

      .second {
        grid-area: 9/1/2/5;
        width: 100%;
      }

      @media (max-width: 768px) {
        margin: 0;
        display: flex;
        flex-direction: column;

        .first,
        .second {
          position: initial;
          width: 100%;
          transform: none;
          margin: 0;
        }

        .second {
          display: none;
        }
      }
    }

    .image-container {
      width: 50%;
    }
  }

  .link-section {
    padding-bottom: 100px;
    position: relative;
    z-index: 20;
  }

  .link-container {
    display: flex;
    justify-content: space-between;
    position: relative;
    z-index: 10;
  }

  @media (max-width: 768px) {
    .link-container {
      flex-direction: column;
      align-items: center;
      font-size:calc(100vw * 17px / 430px);
      a{
        margin:calc(100vw * 10px / 430px)
      }
    }
  }

  .circle-link-container {
    display: flex;
    justify-content: flex-end;
  }

  .circle-link {
    transform: translate(40%);
  }

  @media (max-width: 768px) {
    .double-image-block,
    .text-image-block,
    .first-content {
      flex-direction: column;

      .image-container,
      .paragraph {
        width: 100%;
      }

      // .image-container {
      //   margin: 10px 0;
      // }
    }

    .block {
      margin: 0;
    }
  }
}

// the root
.achievements-template {
  .categories {
    a {
      display: block;
      padding: 50px 0;
      font-size: 4rem;
      font-weight: 300;
      padding-left: 50px;
      border-top: solid 1px var(--color-anthracite);

      &::before {
        width: 0;
        transition: 1s cubic-bezier(0.22, 1, 0.36, 1);
      }

      &:hover {
        &::before {
          width: 100%;
        }
      }
    }

    li {
      &:last-child {
        a {
          border-bottom: solid 1px var(--color-anthracite);
        }
      }
    }

    @media (max-width: 768px) {
      a {
        font-size: 2rem;
        padding: calc(100vw * 25px / 430px) 0;
      }
    }
  }
}
