.blogs-category-template {
  background: var(--color-beige);
  color: var(--color-terra-cotta);
  .first-section {
    padding-top: 60px;
}
.second-section {
  padding-top: 60px;
}
.link-before-translate--terra-cotta:hover {
  color: var(--color-terra-cotta);
  background-color: var(--color-beige);
  font-weight:bold;
}
.link-before-translate--terra-cotta:hover::before {
  background: var(--color-beige);
}
.subtitle{
  overflow: hidden;
   display: -webkit-box;
   -webkit-line-clamp: 1; /* number of lines to show */
           line-clamp: 1; 
   -webkit-box-orient: vertical;
}

h6{  
  font-size: medium;
}
.subtext{
  background-color: var(--color-beige);
  overflow: hidden;
   display: -webkit-box;
   -webkit-line-clamp: 2; /* number of lines to show */
           line-clamp: 2; 
   -webkit-box-orient: vertical;
}
@media(max-width:575px)
{
  .link-before-translate--terra-cotta:hover {
    color: var(--color-beige);
    font-weight:normal;
  }
  .link-before-translate--terra-cotta:hover::before {
    background: var(--color-terra-cotta);
  }
}
.cattab{
  display:block;
}
.catlink{
  display:none !important;
}
  h1 {
    cursor: pointer;
  }

  .title-container {
    display: flex;
    align-items: center;
    justify-content: space-between;

    .input-container {
      width: 500px;
      position: relative;

      .icon-container {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 20px;
        position: absolute;
        top: 50%;
        right: 0;
        transform: translateY(-50%);
        border-radius: 100px;
        border: solid 1px transparent;
        padding: 10px;
        transition: 0.5s cubic-bezier(0.22, 1, 0.36, 1);
        cursor: pointer;

        &:hover {
          border: solid 1px var(--color-anthracite);
        }
      }
    }

    @media (max-width: 1024px) {
      .input {
        width: 50%;
      }
    }

    @media (max-width: 580px) {
      flex-direction: column;
      align-items: flex-start;

      .input {
        width: 100%;
      }
    }
  }

  .questions {
    padding: 50px 0;

    > li {
      border-top: solid 1px var(--color-terra-cotta);
      padding: 30px 0;
    }

    > li:last-child {
      border-bottom: solid 1px var(--color-terra-cotta);
    }

    h4 {
      font-size: 2rem;
      cursor: pointer;
      display: flex;
      justify-content: space-between;

      svg {
        min-width: 30px;
        width: 30px;
        margin-right: 50px;
        transition: 0.5s cubic-bezier(0.22, 1, 0.36, 1);
      }

      &:hover {
        svg {
          transform: rotate(90deg);
        }
      }

      @media (max-width: 768px), (max-height: 500px) {
        font-size: 1.5rem;
      }

      @media (max-width: 580px) {
        font-size: 1.25rem;

        svg {
          margin-right: 10px;
        }
      }
    }

    .content {
      transition: 0.3s ease-out;
    }

    .question-item {
      overflow: hidden;

      &.is-open {
        .content {
          transition: 0.5s cubic-bezier(0.22, 1, 0.36, 1);
        }

        h4 svg {
          transform: rotate(180deg);
        }
      }
    }
  }

  .models-link-section {
    display: flex;
    justify-content: flex-end;

    .circle-link {
      transform: translate(40%);
    }
  }

  .loader-container {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .header-shape-bottom, .header-shape[data-negative=true].header-shape-top {
    transform: rotate(180deg);
}

.header-shape-bottom {
    bottom: -1px;
}
.header-shape {
    overflow: hidden;
    position: absolute;
    left: 0;
    width: 100%;
    line-height: 0;
    direction: ltr;
}
.header-shape-bottom svg {
  height: 55px;
  transform: translateX(-50%) rotateY(180deg);
}
.header-shape-bottom:not([data-negative=true]) svg {
  z-index: -1;
}
.header-shape svg {
  display: block;
  width: calc(100% + 1.3px);
  position: relative;
  left: 50%;
  transform: translateX(-50%);
}
.header-shape .header-shape-fill {
  fill: var(--color-beige);
  transform-origin: center;
  transform: rotateY(0deg);
}
.link-list {
  display: flex;
  margin-top: 40px;
  background-color: white; /* Add this line to set the background color */
  padding: 10px; /* Add this line to set the padding */
}

.pagescats{
  display:block;
  li{
    float:left;
    background-color: var(--color-beige);
    margin: 0 10px;
    padding: 10px;
    border-radius: 5px;
    a {
      color: var(--color-terra-cotta); /* Set the text color to terra-cotta */
      text-decoration: none; /* Remove underline from the link */
    }
  }
}


.subtitle-poppins {
  font-size: 1.0rem;
  letter-spacing: 1.5px;
  text-transform: uppercase;
}
.link-list li {
  margin: 0 10px;
  display: block;
  color: var(--color-terra-cotta); /* Set the text color to terra-cotta */
  background-color: var(--color-white); /* Set the background color to white */
  padding: 10px; /* Add padding for better user experience */
  border-radius: 5px; /* Add rounded corners for better aesthetics */
  text-decoration: none; /* Remove underline from the link */
  transition: background-color 0.3s ease;
}

  
  .link-list a {
    color: var(--color-terra-cotta);
    background-color:var(--color-white);
    padding-left: 30px;
    
    .link-list a.is-selected{
      background-color:var(--color-beige);
    }
}


.link-list a:hover {
  background-color:var(--color-beige);
}

// .link-list li:hover {
//   background-color: var(--color-beige); /* Set the background color to beige on hover */
// }


.header-title{
  font-size: 4.5rem;
}
.header-title-container{
  position:absolute;
  top:60%;
  left:10px
}
.MuiSvgIcon-fontSizeSmall {
  font-size: 2.5rem;
  fill: var(--color-terra-cotta);
}

@media(max-width:776px)
{
  
  .header-shape{
    display:none
  }
  .header-title{
    font-size: 1.6rem !important;
  }
  .header-title-container{
    
    left:10px
  }
  .categories{
    margin-top:10px;
  }
}
@media(max-width:575px)
{
  .cattab{
    display:none;
  }
  .catlink{
    display:flex !important ;
  }
}
}
.MuiMasonry-root .css-image{
  width:100%;
  height:350px;
}

.MuiTabs-scrollButtons {
  color: var(--color-terra-cotta);
  background-color: red;
}

.MuiButtonBase-root {
  color: var(--color-terra-cotta); 
  background-color: blue;
}



.blogs-category-template .projects {
  padding-top: 100px;
  background-color: var(--color-beige);


  .image-container {
    width: 100%;
    min-height: 300px;
  }

  .text-container {
    padding-top: 50px;
    padding-right: 0px;
    text-align: right;

    span {
      display: block;
    }
  }


  li {
   
    a {
      display: flex;
      justify-content: space-between;
      padding: 0;
      padding-bottom: 50px;
      border-top: solid 1px var(--color-anthracite);
      
      &::before {
        
        transition: 1s cubic-bezier(0.22, 1, 0.36, 1);
      }

      &:hover {
        &::before {
          width: 100%;
        }
      }
    }

    &:nth-child(odd) {
      .image-container {
        order: 1;
      }
      .text-container {
        padding-left: 50px;
        padding-right: 0px;
        text-align: left;
      }
    }
  }

  @media (max-width: 768px) {
    .image-container {
      min-height: 200px;
    }
  }

  @media (max-width: 580px) {
    margin-top: 50px;
    width:90%;
    .image-container {
      min-height: auto;
      
    }
    a {
      align-items: center;
    }
    
    li {
      .text-container {
        padding: 0;
        padding-left: 20px;
        padding-right: 10px;

        h3 {
          font-size: 1rem;
        }
      }

      &:nth-child(odd) {
        .text-container {
          padding-left: 0;
          padding-right: 20px;
        }
      }
    }
  }
}
.blogs-details-template {
  .wysiwyg {
    h2 {
      font-family: "argesta_hairlineRgIt";
      font-size: 2.5rem;
    }
    strong{
      font-weight:500
    }
    span{
      font-weight:unset !important
    }
    img{
      max-width:100%
    }
  }
  .main-title {
    font-size: 3.25rem;
    margin-bottom: 30px;
    line-height: 1.25;
    white-space: unset;
}
.image{
  width:60%;
  margin:auto
}
.projects{
  .image{
    width:100%
  }
}
.text-image-block{
.image{
  width: 100%;
}
}
.image-container{
  text-align: center;
}
  .block {
    margin: 100px 0;

    &:last-child {
      margin-bottom: 0;
    }

    .image-container .overlay {
      z-index: initial !important;
    }

    @media (max-width: 1024px) {
      margin: 50px 0;
    }
  }

  .first-content {
    display: flex;
    align-items: center;

    .image-container {
      width: 40%;
    }

    .paragraph {
      width: 40%;
      margin-left: 10%;
    }
  }
  
  @media(max-width:776px){
    .image{
            width:100%
          }
    }
  .text-image-block {
    display: flex;
    align-items: center;
    justify-content: space-between;

    .image-container,
    .paragraph {
      width: 45%;
    }

    &.image-left {
      .image-container {
        order: 1;
      }

      .paragraph {
        order: 2;
      }
    }

    &.image-right {
      .image-container {
        order: 2;
      }

      .paragraph {
        order: 1;
      }
    }

    @media (max-width: 580px), (max-height: 500px) {
      .text-container {
        order: 1 !important;
      }

      .image-container {
        order: 2 !important;
      }
      
    }
  }

  .double-image-block {
    &.images-equal {
      display: flex;
      align-items: center;

      .second {
        box-sizing: border-box;
        padding: 100px;
      }

      @media (max-width: 768px) {
        .second {
          padding: 50px;
        }
      }

      @media (max-width: 580px), (max-height: 500px) {
        .second {
          padding: 0px;
        }
      }
    }

    &.images-overlap-1 {
      position: relative;
      display: grid;
      grid-template-columns: repeat(10, 10%);
      grid-template-rows: repeat(8, 75px);
      margin-top: 100px;

      .first {
        width: 100%;
        grid-area: 3/4/9/11;
        position: relative;
        z-index: 20;
      }

      .second {
        position: relative;
        width: 100%;
        grid-area: 1/1/7/5;
      }

      @media (max-width: 580px), (max-height: 500px) {
        display: flex;
        flex-direction: column;
        margin: 0;

        .first,
        .second {
          position: initial;
          width: 100%;
          transform: none;
        }

        .first {
          display: none;
        }
      }
    }

    &.images-overlap-2 {
      position: relative;
      margin-bottom: 250px;
      display: flex;
      align-items: center;

      .first,
      .second {
        width: 50%;
      }

      .first {
        transform: translate(50px, 150px);
        position: relative;
        z-index: 10;
      }

      @media (max-width: 580px), (max-height: 500px) {
        margin: 0;

        .first,
        .second {
          position: initial;
          width: 100%;
          transform: none;
        }
      }
    }

    &.images-overlap-3 {
      position: relative;
      grid-template-columns: repeat(10, 10%);
      grid-template-rows: repeat(8, 75px);
      display: grid;

      .first {
        grid-area: 1/4/7/11;
        width: 100%;
      }

      .second {
        grid-area: 9/1/2/5;
        width: 100%;
      }

      @media (max-width: 580px) {
        margin: 0;
        display: flex;
        flex-direction: column;

        .first,
        .second {
          position: initial;
          width: 100%;
          transform: none;
          margin: 0;
        }

        .second {
          display: none;
        }
      }
    }

    .image-container {
      width: 50%;
    }
  }

  .link-section {
    padding-bottom: 100px;
    position: relative;
    z-index: 20;
  }

  .link-container {
    display: flex;
    justify-content: space-between;
    position: relative;
    z-index: 10;
  }

  @media (max-width: 580px), (max-height: 500px) {
    .link-container {
      flex-direction: column;
      align-items: center;
    }
  }

  .circle-link-container {
    display: flex;
    justify-content: flex-end;
  }

  .circle-link {
    transform: translate(40%);
  }

  @media (max-width: 580px), (max-height: 500px) {
    .double-image-block,
    .text-image-block,
    .first-content {
      flex-direction: column;

      .image-container,
      .paragraph {
        width: 100%;
      }

      // .image-container {
      //   margin: 10px 0;
      // }
    }

    .block {
      margin: 0;
    }
  }
}
