.footer {
  padding: 30px 0;
  background: var(--color-anthracite);
  color: var(--color-white);
  margin-top:-1px;

  .button-container {
    margin-top: 30px;
  }
  @media(max-width:1919px)
  {
    padding: calc(100vw * 30px / 1920px) 0;
    .button-container {
      margin-top: calc(100vw * 30px / 1920px);
    }
  }
  a {
    color: var(--color-white);
  }

  .contact-link {
    color: var(--color-sand);
    transition: 0.5s cubic-bezier(0.22, 1, 0.36, 1);

    &:hover {
      color: var(--color-terra-cotta);
    }
  }

  .section-container {
    display: flex;
    flex-wrap: wrap;
  }

  .logo {
    width: 360px;

    svg {
      width:360px;
      transition: 0.5s cubic-bezier(0.22, 1, 0.36, 1);

      &:hover {
        fill: var(--color-white);
      }
    }
    @media(max-width:1919px)
    {
      width: calc(100vw * 360px / 1920px);

    svg {
      width:calc(100vw * 360px / 1920px);
      transition: 0.5s cubic-bezier(0.22, 1, 0.36, 1);

      &:hover {
        fill: var(--color-white);
      }
    }
    }
  }

  &__top,
  &__bottom {
    width: 100%;
    display: flex;
    justify-content: space-between;
  }

  &__top {
    margin-bottom: 150px;
    align-items: flex-start;

    a {
      display: block;
    }
  }

  &__bottom {
    align-items: flex-end;
  }

  .newsletter {
    width: 60%;

    p {
      font-size: 2rem;
    }

    em {
      font-size: 2.375rem;
    }
    .input {
      font-weight: 300;
    }

    .loader div {
      background: var(--color-white);
    }
  }

  .right {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    text-align: right;
    width:100%
  }



  .legal {
 
    font-size: 1.125rem;
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    width:100%;
    justify-content:space-between;

    li {
     // margin: 10px 0;
      margin-right: 20px;
      margin-top:10px;
      display:inline-block;
      a {
        transition: 0.5s cubic-bezier(0.22, 1, 0.36, 1);
        color : #808080;
        font-size:26px;
        &:hover {
          color: var(--color-terra-cotta);
        }
      }
      @media(max-width:1919px)
      {
        margin-right: calc(100vw * 20px / 1920px);
      margin-top:calc(100vw * 10px / 1920px);
      a {
        font-size:calc(100vw * 26px / 1920px);
      }
      
      }
    }
    li:last-child {
      margin-right: 0;
    }
    @media(max-width: 768px){
      display:block;
      text-align: center !important;
      li{
      margin-top:0px;
      a{
        font-size:calc(100vw * 13px / 430px);
      }
    }
    }
  }


  .line-container {
    display: flex;
    align-items: center;
  }
  
  .line {
    border-top: 1px solid #ece6e6; // Adjust color and width as needed
    width: 100%; // Adjust the width of the line
    margin: 20px 0px; // Adjust margin as needed
    color:white;
    @media(max-width:768px)
    {
      margin:calc(100vw * 21.6px / 430px) 0;
    }
  }
  
  .flex-container {
    display: flex;
    width: 100%;
}

.flex-child {
    flex: 1;
    // border: 2px solid yellow;
    svg{
      @media(max-width: 768px)
      {
        width:calc(100vw * 150px / 430px);
      }
    }
}  

.flex-child:first-child {
    margin-right: 20px;
  //  width:20%;
} 








  .social-networks {
    text-align: right;
    /*display: flex;
    justify-content: flex-end;
    align-items: center;
    margin-bottom: 50px;*/
    li{
      display:inline-block;
      margin-right: 20px;
      width: 45px; /* Set width equal to height for square SVG elements */
      height: 45px; /* Set height of SVG elements */
      margin-right: 15px;
      margin-left:10px;
      @media(max-width:1919px)
      {
        width: calc(100vw * 45px / 1920px) !important; /* Set width equal to height for square SVG elements */
      height: calc(100vw * 45px / 1920px) !important; /* Set height of SVG elements */
      margin-right: calc(100vw * 15px / 1920px) !important;
      margin-left:calc(100vw * 10px / 1920px) !important;
      }
    }
    svg {
    //  width: 40px;
      width: 45px; /* Allow the width to adjust based on the aspect ratio */
      height: 100%;
      transition: 0.5s cubic-bezier(0.22, 1, 0.36, 1);
    }


    .facebook {
      width:35px;
      margin-right:5px;
      svg {
        width: 25px;
        
      }
      @media(max-width:1919px)
      {
        width:calc(100vw * 35px / 1920px);
      margin-right:calc(100vw * 5px / 1920px);
      svg {
        width: calc(100vw * 25px / 1920px);
        
      }
      }
    }

    a {
      display: flex;
      align-items: center;
      padding: 10px 0 0 15px;
      width: 300px;
     
      &:hover {
        svg {
          fill: var(--color-terra-cotta);
        }
      }
    }
    @media(max-width:1919px)
    {
      li{
        margin-right: 0;
        width: calc(100vw * 70px / 1920px); /* Set width equal to height for square SVG elements */
        height: calc(100vw * 45px / 1920px); /* Set height of SVG elements */
        
      }
      svg {
      //  width: 40px;
        width: calc(100vw * 45px / 1920px); /* Allow the width to adjust based on the aspect ratio */
        height: 100%;
      }
  
  
      .facebook {
        svg {
          width: calc(100vw * 25px / 1920px);;
          
        }
      }
  
      a {
        display: flex;
        align-items: center;
        padding: calc(100vw * 10px / 1920px) 0 0 calc(100vw * 15px / 1920px);
        width: calc(100vw * 300px / 1920px);
       justify-items:end;
        &:hover {
          svg {
            fill: var(--color-terra-cotta);
          }
        }
      }
    }
    @media(max-width: 768px)
      {
        .facebook {
          width:calc(100vw * 25px / 430px);
          svg {
            width: calc(100vw * 25px / 430px);
            height :calc(100vw * 25px / 430px);            
          }
        }
        li{
          display:inline-block;
          width:calc(100vw * 30px / 430px) !important;
          height: calc(100vw * 30px / 430px) !important; /* Set height of SVG elements */
          svg {
            width: calc(100vw * 25px / 430px);
            height :calc(100vw * 25px / 430px);            
          }
        }
        a {
          display: flex;
          align-items: end;
          padding: calc(100vw * 2.5px / 430px);
          width: calc(100% - 5px);
         
          &:hover {
            svg {
              fill: var(--color-terra-cotta);
            }
          }
        }

      }
  }

  .input {
    font-size: 2rem;
    height: 70px;
  }

  @media (max-width: 580px) {
    padding: 30px 0;

    .logo {
      width: 50%;
      margin-bottom: 25px;
    }

    &__top {
      margin-bottom: 50px;
    }

    &__bottom {
      display: flex;
    }

    &__top {
      flex-wrap: wrap;
      align-items: center;
    }

    .contact-link {
      order: 1;
    }

    .social-networks {
      order: 2;
      margin-bottom: 0;
    }

    .newsletter {
      width: 100%;
      margin-top: 50px;
      margin-bottom: 50px;
      order: 2;

      em {
        font-size: 2rem;
      }

      p {
        font-size: 1.5rem;
      }

      .input {
        font-size: 1.5rem;
      }
    }

    .legal {
      text-align: left;
      font-size: 0.8rem;
      
    }
  }
}
