.home-template {
  
  .main-title {
    
    @media(max-width: 768px)
    {
      text-align:center;
      width:100%;
      padding-right:0px;
      font-size:calc(100vw * 50px / 430px) !important;
    }
  }

  .first-section {
    position: relative;
    box-sizing: border-box;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;

    .background-overlay {
      z-index: 1;
      background: var(--color-anthracite);
      opacity: 0.7;
    }

    video {
      z-index: 0;
    }

    .content {
      position: relative;
      z-index: 2;
    }

    video,
    .image-container,
    .background-overlay {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      min-width: 100vw;
      min-height: 100vh;
    }

    .image-container .css-image {
      min-width: 100vw;
      min-height: 100vh;
    }
    @media(max-width: 768px)
    {
      height:calc(100vw * 645px / 430px);
    }
    .logo-container {
      position: absolute;
      top: 5%;
      left: 50%;
      width: 250px;
      transform: translateX(-50%);
      z-index: 10;
      
      @media (max-width: 768px) {
        top: 6%;
        width: calc(100vw * 200px / 430px);
      }
    }

    .logo-container1 {
      position: absolute;
      top: 5%;
      left: 5%;
      width: 60px;
      transform: translateX(-50%);
      z-index: 10;

      @media (max-width: 768px) {
        top: 6%;
        width: calc(100vw * 60px / 430px);
        left: 15%;
      }
    }

    .text-container {
      position: relative;
      z-index: 2;
      display: flex;
      align-items: center;
      justify-content: center;
      width:85%;
      max-width:1920px;
      margin:auto;
    text-align: center;
    font-size:135px;
    padding-top:36px;
    }

    .main-title {
      font-family: "argesta_regular";
      color: var(--color-white);
      letter-spacing: -2.56px;
      font-size:135px;
      margin-bottom:0px;
      @media(max-width:1919px)
      {
        font-size:calc(100vw * 135px / 1920px) !important;
        letter-spacing: calc(100vw * -2.56px / 1920px);
      }
      @media(max-width:768px)
      {
        font-size:calc(100vw * 50px / 430px) !important;
        letter-spacing: calc(100vw * -0.95px / 430px);
      }
    }

    .video-icon-container {
      position: absolute;
      z-index: 20;
      bottom: 5%;
      right: 5%;
      display: flex;
      align-items: center;
      color: var(--color-white);
      letter-spacing: 1px;
      text-transform: uppercase;

      svg {
        margin-left: 10px;
        width: 52px;
      }

      circle,
      polyline {
        transition: 0.5s cubic-bezier(0.22, 1, 0.36, 1);
      }

      &:hover {
        circle {
          fill: var(--color-white);
        }

        polyline {
          stroke: var(--color-terra-cotta);
        }
      }

      @media (max-width: 768px) {
        right: auto;
        left: 5%;
        span {
          display: none;
        }
      }
    }
  }
  .first-section-about {
    position: relative;
    box-sizing: border-box;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;

    .background-overlay {
      z-index: 1;
      background: var(--color-anthracite);
      opacity: 0.7;
    }

    video {
      z-index: 0;
    }

    .content {
      position: relative;
      z-index: 2;
    }

    video,
    .image-container,
    .background-overlay {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      min-width: 100vw;
      min-height: 100vh;
    }

    .image-container .css-image {
      min-width: 100vw;
      min-height: 100vh;
    }
    @media(max-width: 768px)
    {
      height:239px;
      .image-container,.background-overlay{
        min-height:unset;
      }
      .image-container .css-image {
        min-height: unset;
        height:239px;
      }
    }
    .logo-container {
      position: absolute;
      top: 5%;
      left: 50%;
      width: 250px;
      transform: translateX(-50%);
      z-index: 10;
      
      @media (max-width: 768px) {
        top: 6%;
        width: calc(100vw * 200px / 430px);
      }
    }

    .logo-container1 {
      position: absolute;
      top: 5%;
      left: 5%;
      width: 60px;
      transform: translateX(-50%);
      z-index: 10;

      @media (max-width: 768px) {
        top: 6%;
        width: calc(100vw * 60px / 430px);
        left: 15%;
      }
    }

    .text-container {
      position: relative;
      z-index: 2;
      display: flex;
      align-items: center;
      justify-content: center;
      width:85%;
      max-width:1920px;
      margin:auto;
    text-align: center;
    font-size:135px;
    padding-top:36px;
    }

    .main-title {
      font-family: "argesta_regular";
      color: var(--color-white);
      letter-spacing: -2.56px;
      font-size:135px;
      margin-bottom:0px;
      @media(max-width:1919px)
      {
        font-size:calc(100vw * 135px / 1920px) !important;
        letter-spacing: calc(100vw * -2.56px / 1920px);
      }
      @media(max-width:768px)
      {
        font-size:calc(100vw * 50px / 430px) !important;
        letter-spacing: calc(100vw * -0.95px / 430px);
      }
    }

    .video-icon-container {
      position: absolute;
      z-index: 20;
      bottom: 5%;
      right: 5%;
      display: flex;
      align-items: center;
      color: var(--color-white);
      letter-spacing: 1px;
      text-transform: uppercase;

      svg {
        margin-left: 10px;
        width: 52px;
      }

      circle,
      polyline {
        transition: 0.5s cubic-bezier(0.22, 1, 0.36, 1);
      }

      &:hover {
        circle {
          fill: var(--color-white);
        }

        polyline {
          stroke: var(--color-terra-cotta);
        }
      }

      @media (max-width: 768px) {
        display:none;
      }
    }
  }

  .six-section {
    position: relative;
    box-sizing: border-box;
    height: auto;
    padding:0px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: right;
height:100vh;
    .shade-top,
    .shade-bottom {
      position: absolute;
      left: 0;
      right: 0;
      background: rgba(0, 0, 0, 0.6);
      opacity: 1;
      z-index: 2;
      // background: linear-gradient(to bottom, rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.8));
    }
    
    .shade-top {
      top: 0;
      height: 100%; 
      width: 100%;
    }

    .image-container{
      width: 100%;
      position: relative;
      z-index: 1;
      box-shadow: 0 0 20px rgba(0, 0, 0, 0.5); /* Add shadow effect */
    }
      .overlay{
        // position: relative;
        // overflow: hidden;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: rgba(0, 0, 0, 0.5); /* Darkness */
        z-index: 2;
        // ::before {
        //   content: '';
        //   position: absolute;
        //   top: 0;
        //   left: 0;
        //   width: 100%;
        //   height: 100%;
        //   background: linear-gradient(to bottom, rgba(0, 0, 0, 0.9), rgba(0, 0, 0, 0.7)); /* Increased opacity */
        //   z-index: 1;
      // }

      // ::after {
      //     content: '';
      //     position: absolute;
      //     top: 50%;
      //     left: 50%;
      //     transform: translate(-50%, -50%);
      //     width: 120%;
      //     height: 120%;
      //     background-color: rgba(0, 0, 0, 0.5); /* Increased opacity */
      //     border-radius: 50%;
      //     z-index: 2;
      //     box-shadow: 0 0 30px 20px rgba(0, 0, 0, 0.5); /* Increased opacity */
      // }
      }
    // }
    .content{
      width:100%;
      height:100%;
      position: relative;
      z-index: 2;    
    }
    video,
    .image-container,
    .background-overlay {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      min-width: 100vw;
      min-height: 100vh;
      z-index: 1;
    background: var(--color-anthracite);
    opacity: 0.7;
    }

    .image-container .css-image {
      min-width: 100vw;
      min-height: 100vh;
    }
    @media(max-width: 768px)
    {
      height:calc(100vw * 645px / 430px);
    }
    .text-container{
      position: absolute;
      width: 880px;
      height: 100%;
      top: 70px;
      right: 0;
      margin-right:calc((100vw - 1600px) / 2);
      z-index: 9999;
      @media(max-width:1919px)
      {
        width:calc(100vw * 880px / 1920px);
        margin-right:calc(100vw * 160px / 1920px)
      }
      h6{
        width:80% ;
        margin-left:20%;
        font-weight:200;
        line-height:35px;
        padding:30px 0;
        @media(max-width:1919px)
        {
          font-size:calc(100vw * 25px / 1920px);
          line-height:calc(100vw * 35px / 1920px)
        }
      }
    }
    @media (max-width: 768px) {
      right: auto;
    

      .content{
        width:100%;
        height:100%;
        .link-before-translate
        {
          margin-top:20px;
        }
      }

      span {
        display: none;
      }


h6{
  display: none;
}
      
      .text-container{        
        position: absolute;
        text-align: left;
      width: calc(100vw * 344px / 430px);
      height: 0%;
      top: 5%;
      left: 0;
      margin-left:calc(100vw * 21.5px / 430px);
      
      }
    }
  }

  .coverseal-section {
    h2 {
      margin-bottom: 30px;
      position: relative;
      z-index: 2;
      
    }

    p
    {
    background: #0cf;
    margin-top: -1.6rem;
    z-index: 100;
    }
   

    .coverseal-section {
  .section-container {
    display: grid;
    grid-template-columns: 1fr 1fr; /* Two equal columns */
    grid-gap: 20px; /* Adjust the gap as needed */
    align-items: center;
  }

  .text-container {
    grid-column: 1;
  }

  .images-container {
    grid-column: 2;
  }
}
   
    .newcoverseal-section {
  .section-container {
    display: grid;
    grid-template-columns: 1fr 1fr; /* Two equal columns */
    grid-gap: 20px; /* Adjust the gap as needed */
    align-items: center;
  }

  .text-container {
    grid-column: 1;
  }

  .images-container {
    grid-column: 2;
  }
}






.newcoverseall-section {
  .container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-color: #f0f0f0;
  }
  
  .title {
    font-size: 3rem;
    font-weight: bold;
    color: #333;
    text-align: center;
    margin-bottom: 2rem;
  }
  
  .section {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 4rem;
  }
  
  .section-image {
    font-size: 2rem;
    font-weight: bold;
    color: #333;
    text-align: center;
    margin-bottom: 1rem;
    width: 30%;
  }

  .image-container {
    width: 30%;
    transform: translateY(-200px);
  }
  
  .section-text {
    font-size: 1.2rem;
    color: #666;
    text-align: center;
    max-width: 500px;
    margin-bottom: 2rem;
    width: 30%;
  }


}
.grid-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 10px;
  background-color: #2196F3;
  padding: 10px;
}

.verticalSection {
  grid-column: span 1;
  background-color: rgba(255, 255, 255, 0.8);
  border: 1px solid black;
  text-align: center;
  font-size: 30px;
}










    .image-container .overlay {
      z-index: initial !important;
    }

    .section-container {
      width: 70% !important;
    }

    .text-container {
      width: 50%;
      margin-left: 50%;
      position: relative;
      z-index: 2;
    }

    .link-before-translate {
      margin-top: 50px;
    }

    .images-container {
      position: relative;
      margin: 100px 0;
    }

    .first {
      width: 30%;
      transform: translateY(-60px);
      position: absolute;
      left: 0;
      bottom: 0;
    }

    .second {
      width: 70%;
      margin-left: auto;
      margin-right: 10%;
      position: relative;
      z-index: 2;
    }

    .center-circle-link {
      position: absolute;
      right: 0;
      bottom: 0;
      z-index: 2;
      @media (max-width: 768px) {
        bottom: calc(100vw * -50px / 430px);
      }

      @media (max-width: 580px) {
        // bottom: -0px;
        right: auto;
        left: 50%;
        transform: translateX(-50%);
      }
    }

    @media (max-width: 768px){
      .section-container {
        width: 85% !important;
      }

      .text-container {
        width: 100%;
        margin: 0;
      }

      .images-container {
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin: 50px 0;
      }

      .first {
        position: initial;
        transform: translateY(0px);
      }

      .second {
        margin: 0;
        width: 60%;
      }
    }

    @media (max-width: 768px) {
      .images-container {
        flex-direction: column;
        margin-bottom: calc(100vw * 100px / 430px);
      }

      .second,
      .first {
        width: 100%;
      }
    }
  }

  .models-section {
    
    color: #fbf6f1;
    padding: 100px 0 0px;
    @media(max-width:1919px)
    {
      
    padding: calc(100vw * 100px / 1920px) 0 0px;
    }
    @media(max-width:768px)
    {
      
    padding: calc(100vw * 44px / 430px) 0 0px;
    }
    // color: var(--color-white);
    .models-container{
      margin:26px 0;
      @media(max-width:768px)
      {
        margin:calc(100vw * 53.97px / 430px) 0;
        .link-before-translate{
          margin-top:calc(100vw * 9px / 430px)
        }
      }
      
    }
    .models-text{
      width:1040px;
      @media(max-width:1919px)
      {
        width:calc(100vw * 1040px / 1920px);
      }
      @media(max-width:768px)
      {
        width:calc(100vw *344px / 430px);
      }
    }
    .models-image{
      width:450px;
      @media(max-width:1919px)
      {
        width:calc(100vw * 450px / 1920px);
      }
      @media(max-width:768px)
      {
        display:none;
      }
      text-align:center;
    }
    .icon-container{
      svg{
        width:300px;
        max-width:100%;
      }
    }
    .content{
      width: calc(100vw - 320px) !important;
  margin: auto;
  max-width:1600px;
  @media(max-width:1919px)
  {
    width: calc(100vw * 1600px / 1920px) !important;
  }
  @media(max-width:768px)
  {
    width: calc(100vw * 344px / 430px) !important;
  }
    }
    .text-container{
      display: flex;
    vertical-align: middle;
    flex-direction: column;
    justify-content: center;
    height: 450px;
    @media(max-width:768px)
    {
      height:auto;
    }
    }
    .subtitle-large {
      font-size: 24px; /* Adjust the font size as needed */
    }
    .icon-container{
      width:450px;
      height:450px;
      @media(max-width:1919px)
      {
        width:calc(100vw * (1600px - 1140px) / 1920px);
        height:calc(100vw * (1600px - 1140px) / 1920px)
      }
    }
    
    @media (max-width: 768px) {
      
   .item-container h4{
    font-size:calc(100vw * 25px / 430px) !important
   }
   
     
    }
  }

  .benefits-section {
    padding:0px !important;
    overflow: initial;
    .subtitle-argesta {
      font-size: 60px;      
    letter-spacing: -1.2px;
    @media(max-width:1919px)
    {
      font-size: calc(100vw * 60px / 1920px);      
    letter-spacing: -1.2px;
    }
      @media(max-width: 768px)
      {
          font-size:calc(100vw * 35px / 430px);
        
      }
    }
    .benefits-container{
      justify-content: space-between;
    }
    .benefits-item{
      width:480px;
      padding:0px;
      @media(max-width:1919px)
      {
        width: calc(100vw * 480px / 1920px);
      }
      @media(max-width: 768px)
      {
        width: 100%;
      }
    }
    .parafourlines{
      padding-top:19px;
      
    }
    .benefitstitle{
      font-size:80px;
      @media(max-width:1919px)
      {
        font-size:calc(100vw * 80px / 1920px)
      }
      @media(max-width: 768px)
      {
        font-size:calc(100vw * 40px / 430px)
      }
    }
    .benefitslink{
      margin-top:80px;
      @media(max-width:1919px)
      {
        margin-top:calc(100vw * 80px / 1920px)
      }
      @media(max-width:768px)
      {
        display:none
      }
    }
    .benefitslinkmobile{
      display:none;
      @media(max-width:768px)
      {
        display:block;
        margin-top:calc(100vw * 18.43px / 430px);
        margin-bottom:calc(100vw * 40px / 430px);
      }
    }
.MuiPaper-root{
  height:auto !important;
  margin-top:25px;
  @media(max-width:1919px)
  {
    margin-top:calc(100vw * 25px / 1920px)
  }
  @media(max-width:768px)
  {
    margin-top:calc(100vw * 25px / 430px)
  }
}
    a {
      display: inline-block;
      font-size: 30px;
      @media(max-width:1919px)
  {
    font-size:calc(100vw * 30px / 1920px)
  }
  @media(max-width: 768px)
  {
    font-size: calc(100vw * 14px / 430px);
  }
    }

    .first-div {     
      
      width: calc(100vw - 320px) !important;
  margin: auto;
  max-width:1600px;
  @media(max-width:1919px)
  {
    width: calc(100vw * 1600px / 1920px) !important;
  }
  @media(max-width:768px)
  {
    width: calc(100vw * 344px / 430px) !important;
  }
      
      .title-container{
        padding-top: 80px;
        padding-bottom: 40px;
        @media(max-width:1919px)
        {
          padding-top:calc(100vw * 80px / 1920px);
          padding-bottom:calc(100vw * 40px / 1920px)
        }
        @media(max-width: 768px)
        {
          padding-top:calc(100vw * 40px / 430px);
          padding-bottom:0px
        }
      }
    }

    .link-underline {
      &::before {
        bottom: 0px;
      }
    }

    .content {
      display: flex;
      align-items: center;
    }

    .image-container {
      width: 100%;  
      .image{
        width:100%;
        height:auto
      }
    }

    h3 {
      margin-bottom: 0px;
    }

    .text-container {
      margin-left: 160px;
      margin-bottom: 300px;
      display: flex;
      flex-direction: column;
      align-items: flex-start;
    }

    .line {
      width: 80%;
      margin-left: auto;
      height: 2px;
      background: var(--color-terra-cotta);
      transform: translateY(-100px);
    }

    

    @media (max-width: 768px) {
      padding-top: 0;
      .item-container{
        order:unset !important
      }
      .content {
        flex-direction: column;
      }

      .hidden-mobile {
        display: none;
      }

      .image-container {
        transform: none;
        margin-bottom: calc(100vw * 10px / 430px);
        margin-top:calc(100vw * 20px / 430px);
      }

      .text-container {
        margin-bottom: 0;
      }

      .image-container,
      .text-container {
        width: 100%;
      }

      .line {
        transform: none;
        margin: calc(100vw * 50px / 430px) 0;
        margin-left: auto;
      }

      .first-div {     
        margin:auto;
      }
      h5 {
            font-size: calc(100vw * 35px / 430px);
          }
    }
  }


  .spacing-section{
    height:80px; 
    padding-top:0px;
    padding-bottom:0px;
    @media(max-width:1919px)
    {
      height:calc(100vw * 81px / 1920px)
    }
    @media (max-width: 768px) {
      height:0px;
    }
  }

  .coversealnew-section {
    padding-bottom: 0px !important;
    padding-top:0px !important;
    @media(max-width:768px)
    {
      padding-bottom:calc(100vw * 36.93px / 430px) !important;
      padding-top:calc(100vw * 41px / 430px) !important;
    }
    overflow: initial;
    .wysiwyg{
      flex:unset;
      margin:37px 0;
      @media(max-width:1919px)
      {
        margin:calc(100vw * 37px / 1920px) 0
      }
    }
.mobile-image{
  display:none;
}
    a {
      display: inline-block;
      margin-left: calc(100% - 168px);
      font-weight:300;
    }
    .link-before-translate {
      white-space: nowrap; /* Prevent text from wrapping */
      overflow: hidden; /* Hide any overflow */
      text-overflow: ellipsis; /* Optionally, add ellipsis for overflow text */
      width: fit-content; /* Set width to fit the content */
      margin-left: auto; /* Move the link to the right */
    }
    .link-underline {
      &::before {
        bottom: 0px;
      }
    }

    .content {
      display: flex;
      align-items: center;
      width: calc(100vw - 320px) !important;
  margin: auto;
  max-width:1600px;
  @media(max-width:1919px)
  {
    width: calc(100vw - (((100% * 160px) / 1920px) * 2)) !important;
  }
      //flex-direction: column;
    }

    .desktop-image {
      width:800px;
      
      padding-left:80px;
      @media(max-width:1919px)
      {
        width :calc(100vw * 800px / 1920px);
        padding-left:calc(100vw * 80px / 1920px);
      }
      //width: 40%;
    }
    .image-container
    {
      //width:100%;
      width :100%;
      max-height: 680px;
      @media(max-width: 768px)
      {
        height:auto
      }
    }
    h3 {
      margin-bottom: 50px;
    }

    .text-container {
      margin-top: 0px;
      padding-right:0px;
      display: flex;
      text-align:right;
      flex-direction: column;
      align-items: flex-start;
      width:53%;
      justify-content: space-between;
      min-height:680px;
      flex:1;
      @media(max-width:1919px)
      {
        min-height:calc(100vw * 680px / 1920px)
      }
      @media(max-width:1300px)
      {
        height:auto
      }
    }

    .line {
      width: 80%;
      margin-left: auto;
      height: 2px;
      background: var(--color-terra-cotta);
      transform: translateY(-100px);
    }

    @media (max-width: 768px) {
      .mobile-image{
        display:block;
        margin-top:calc(100vw * 22px / 430px);
       
      }
      .desktop-image{
        display:none;
        width : calc(100vw * 343px / 430px);
        height: calc(100vw * 291px / 430px);
      }

      .content {
        width : calc(100vw * 344px / 430px) !important;
      }
      .title-container{
        order:1;
      }
      .title-container h2{
        width:100%;
        padding:calc(100vw * 10px / 430px) 0px;
      }
      .image-container {
        transform: none;
        //margin-bottom: 20px;
        order: 2;
        margin-right: 20px;
      }

      h2{
        text-align: left !important;
      }
      .text-container {
        
        order: 3;
        margin-bottom: 0;
        left:5%;
        text-align: left !important;
        margin-left: calc(100vw * 10px / 430px);
        margin-right: calc(100vw * 10px / 430px);
      }

      .image-container,
      .text-container {
        width: 100%;
      }

      .line {
        transform: none;
        margin: calc(100vw * 50px / 430px) 0;
        margin-left: auto;
      }
      .link-underline{
        text-align: left;
      }
      .link-before-translate {
        margin-left: 0px; /* Move the link to the left */
      }
    }
  }
  .coversealnew-section-2 {
    padding-bottom: 0px !important;
    padding-top:0px !important;
    overflow: initial;
    @media(max-width:768px)
    {      
    padding-bottom: calc(100vw * 31.93px / 430px) !important;
    padding-top:calc(100vw * 41px / 430px) !important;
    }
    .wysiwyg{
      flex:unset;
      margin:37px 0;
      @media(max-width:1919px)
      {
        margin:calc(100vw * 37px / 1920px) 0;
      }
    }
.mobile-image{
  display:none;
}
    a {
      display: inline-block;
      margin-left: calc(100% - 168px);
      font-weight:300;
    }
    .link-before-translate {
      white-space: nowrap; /* Prevent text from wrapping */
      overflow: hidden; /* Hide any overflow */
      text-overflow: ellipsis; /* Optionally, add ellipsis for overflow text */
      width: fit-content; /* Set width to fit the content */
      margin-left: auto; /* Move the link to the right */
    }
    .link-underline {
      &::before {
        bottom: 0px;
      }
    }

    .content {
      display: flex;
      align-items: center;
      width: calc(100vw - 320px) !important;
  margin: auto;
  max-width:1600px;
  @media(max-width:1919px)
  {
    width: calc(100vw - (((100% * 320px) / 1920px))) !important;
  }
      //flex-direction: column;
    }

    .desktop-image {
      width:680px;
      height:680px;
      padding-left:80px;
      @media(max-width:1919px)
      {
        width :calc(100vw * 680px / 1920px);
        padding-left:calc(100vw * 80px / 1920px);
        
      height:calc(100vw * 680px / 1920px);
      }
      //width: 40%;
    }
    .image-container
    {
      //width:100%;
      height:100%;
      width :100%;
      max-height: 680px;
      @media(max-width: 768px)
      {
        height:auto
      }
    }
    h3 {
      margin-bottom: 50px;
    }

    .text-container {
      margin-top: 0px;
      padding-right:0px;
      display: flex;
      text-align:right;
      flex-direction: column;
      align-items: flex-start;
      width:880px;
      justify-content: space-between;
      min-height:680px;
      flex:unset;
      @media(max-width:1919px)
      {
        min-height:calc(100vw * 680px / 1920px);
        width:calc(100vw * 880px / 1920px);
      }
      @media(max-width:1300px)
      {
        height:auto
      }
    }

    .line {
      width: 80%;
      margin-left: auto;
      height: 2px;
      background: var(--color-terra-cotta);
      transform: translateY(-100px);
    }

    
    @media (max-width: 768px) {
      .mobile-image{
        display:block;
        width:100%;
        margin-top:20px;
      }
      .desktop-image{
        display:none;
        width : calc(100vw * 343px / 430px);
        height: calc(100vw * 291px / 430px);
      }

      .content {
        width : calc(100vw *344px / 430px) !important;
      }
      .title-container{
        order:1;
      }
      .title-container h2{
        width:100%;
        padding:10px 0px;
      }
      .image-container {
        transform: none;
        //margin-bottom: 20px;
        order: 2;
      }

      h2{
        text-align: left !important;
      }
      .text-container {
        
        order: 3;
        margin-bottom: 0;
        left:5%;
        text-align: left !important;
      }

      .image-container,
      .text-container {
        width: 100%;
      }

      .line {
        transform: none;
        margin: 50px 0;
        margin-left: auto;
      }
      .link-underline{
        text-align: left;
      }
      .link-before-translate {
        margin-left: 0px; /* Move the link to the left */
      }
    }
  }
  .about-section {
    padding-bottom: 0px !important;
    padding-top:0px !important;
    overflow: initial;
    @media(max-width:768px)
    {
      
    padding-bottom: calc(100vw * 36.5px / 430px) !important;
    padding-top:calc(100vw * 42px / 430px) !important;
      .about-title{
        .subtitle-argesta{
        width:calc(100vw * 280px / 430px) !important
        }
      }
    }
    .wysiwyg{
      margin:37px 0;
      @media(max-width:1919px)
      {
        margin:calc(100vw * 37px / 1920px) 0
      }
    }
    .mobile-image{
      display:none
    }
    a {
      display: inline-block;
      margin-left: 0px;
      font-weight:300;
    }

    .link-underline {
      &::before {
        bottom: 0px;
      }
    }

    .content {
      display: flex;
      align-items: flex-start;
      width: calc(100vw - 320px);
  max-width:1600px;
    margin: auto;
    @media(max-width:1919px){
      width: calc(100vw * (1600px / 1920px));
    }
    }

    .desktop-image .image-container {
      width: 800px;
      height:100%;
      @media(max-width:1919px)
      {
        width :calc(100vw * 800px / 1920px);
      }
    }

    h3 {
      margin-bottom: 50px;
    }

    .text-container {     
      margin-top: 0px;
    display: flex;
    text-align: left;
    flex-direction: column;
    align-items: flex-start;
    width: calc(100% - 880px);
    height:800px;
    justify-content: space-between;
    margin-left: 80px;
    @media(max-width:1919px)
      {
        width :calc(100vw * 720px / 1920px);
        margin-left: calc(100vw * 80px / 1920px);
        height:calc(100vw * 800px / 1920px);
      }
      @media(max-width: 768px)
      {
        margin-left:0;
        height:auto;
      }
    }

    .line {
      width: 80%;
      margin-left: auto;
      height: 2px;
      background: var(--color-terra-cotta);
      transform: translateY(-100px);
    }

    
    @media (max-width: 768px) {
      .mobile-image{
        display:block;
        width:100%;
        margin-top:20px;
      }
      .desktop-image{
        display:none;
      }
      padding-top: 0;

      .content {
        flex-direction: column;
        margin:auto;
        width :calc(100vw *344px / 430px);
      }

      .image-container {
        transform: none;
      //  margin-bottom: 50px;
      }

      .text-container {
        margin-bottom: 0;
       
      }

      .image-container,
      .text-container {
        width: 100%;
        padding-left:0px;
      }

      .line {
        transform: none;
        margin: 0;
        margin-left: auto;
      }
    }
  }

  .price-request-section{
  .MuiInput-underline:after, .MuiInput-underline:before{
    border-bottom-color:white;
  }
  label, span
  {
    color:white;
  }
}

  .devis-section {
    position: relative;
    box-sizing: border-box;
    display: flex;
    // color: var(--color-white);
    color: #e4ded7;
    font-family: "argesta_hairlineRgIt";
    // font-size: 1rem;
    .item-container{
      width:60%
    }
    .content{
      width: calc(100vw - 320px);
  max-width:1600px;
    margin: auto;
    @media(max-width:1919px){
      width: calc(100vw * (1600px / 1920px));
    }
    }
    
    .textleft-container {
      width:1200px;
      @media(max-width:1919px)
      {
        width:calc(100vw * 1200px / 1920px);
      }
      @media(max-width: 768px)
      {
        width:80%
      }
    }
    .textright-container{
      width:1200px;
      text-align: right;
      margin-top:80px;
      @media(max-width:1919px)
      {
        width:calc(100vw * 1200px / 1920px);
      }
      @media(max-width: 768px)
      {
        width:100%
      }
    }
    .emptydiv{
      width:calc(100% - 1200px);
      @media(max-width:1919px)
      {
        width:calc(100% - (100vw * 1200px / 1920px));
      }
      @media(max-width: 768px)
      {
        width:0%
      }
    }
    .main-title {
      font-family: "argesta_hairlineRgIt";
      color: var(--color-white);
    }
    @media (max-width: 768px) {
      .textleft-container {
        width:100%
      }
      .emptydiv{
        width:100%
      }
      .content{
        
        width :calc(100vw *344px / 430px);
      }
      .textright-container{
        width:100%;
        margin-top:calc(100vw * 30px / 430px)
      }
      
      

    }
    
  }
}