header {
  position: relative;
  z-index: 1500;
}
.MuiPopover-root{
  z-index:1600 !important;
}


.top-navb {
  position: absolute;// fixed;
  left: 10%;
  top: 0%; 
  z-index: 90;
  width:100%;
  margin:auto;
  &.padding-right {
    padding-right: 15px;
  }
  ul {
    width:100%;
    display:block;
  }
  li {
    margin: 0px;
    display:inline-block;
    width:20%;
    text-align: left;
  }
  // a {
  //   display: block;
  //   width: 100%;
  //   max-width:100%;
  //   height:100px;
  //   align-items: center;
  //  // justify-content: flex-end;
  //   padding-top: 15px;
  //   padding-bottom: 15px;
  //   font-family: "Poppins";
  //   text-transform: uppercase;
  //   font-size: 0.8vw;
  //   position: relative;
  //   overflow: hidden;

  //   .text {
  //     width: 180px;
  //     max-width: 100%;
  //     position: absolute;
  //     top: 50%;
  //     transform: translateY(-50%);
      
  //   }

  //   svg {
  //     width: $size;
  //     height: $size;
  //     transition: 0.5s cubic-bezier(0.22, 1, 0.36, 1);
  //   }

  //   &:hover {  
  //     svg {
  //       transition: 0.5s cubic-bezier(0.22, 1, 0.36, 1);
  //     }
  //   }
  //   @media(max-width:1500px) {
  //     font-size:16px;
  //   }
  //   @media(max-width:1200px) {
  //     font-size:12px;
  //   }
  //   @media(max-width:1000px) {
  //     font-size:11px;
  //   }
  // }
}



.MuiInputBase-root{
  display:block;
  font-size:rem;
}
.open-menu-button {
  align-items: center;
  position: fixed;
  padding: 5px;
  top: 5%;
  right: 3%;

  .line {
    width: 50px;
    height: 2px;
    margin: 10px 0;
  }

  span {
    font-family: "Poppins";
    display: flex;
    margin-top: 20px;
    font-weight: 300;
    font-size: 1rem;

    @media (max-width: 580px) {
      display: none;
     
     // left: auto;
    //  right: 3%;
    }
  }

  .icon {
    transition: 0.5s cubic-bezier(0.22, 1, 0.36, 1);
  }

  &:hover {
    .icon {
      transform: rotate(-90deg);
    }
  }

  &.white {
    .line {
      background: var(--color-white);
    }

    span {
      color: var(--color-white);
    }
  }

  &.terra-cotta {
    .line {
      background: var(--color-terra-cotta);
    }

    span {
      color: var(--color-terra-cotta);
    }
  }

  @media (max-width: 580px) {
    left: auto;
    right: 3%;
  }
}

.overlay-menu {
  .logo{
    svg{
      width:60px;
    }
  }
  .section-container-mobile{
    display: none;
  }
  .section-container{
    display: block;
  }
  position: fixed;
  top: 0;
  left: 0;
  width: 0vw;
  height: 100vh;
  transform: translateX(-2px);
  overflow: hidden;
  z-index: 100;
  border-right: solid var(--color-terra-cotta) 2px;

  .wrapper {
    overflow: auto;
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background: var(--color-beige);
    display: flex;
    justify-content: center;
    align-items: flex-start;
    padding-top:20px;

    &.hidden {
      display: none;
    }
    @media (max-width: 768px) {
      align-items: center;
      .section-container{
        display: none;
      }
      .section-container-mobile{
        display:block;
      }
      .top {
        margin-top: 5px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        height: 60px;
        padding: 0 20px;
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        z-index: 1000;
       // background-color: var(--color-terra-cotta);
      }
      
      .icon-container {
        display: flex;
        align-items: center;
      }
      
      .logo {
        height: 40px;
        margin-left: 10px;
      }
      
      .close-menu-button {
        border: none;
        cursor: pointer;
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 0;
        margin-right: 50px;
      }
      .main-menu {
        font-size: 1.5rem;
        margin-top: 0px;
        margin-bottom: 0px; 
        text-align: center;   
        li {
          margin: 0px 0; 

          &:first-child {
            margin-top: 0;
          }    
          &:last-child {
            margin-bottom: 0;            
          }
        }    
        a {
          color: var(--color-anthracite);
          position: relative;

          &::before {
            content: "";
            position: absolute;
            bottom: 0px;
            left: 0;
            width: 0vw;
            background: var(--color-terra-cotta);
            transition: 1.5s cubic-bezier(0.22, 1, 0.36, 1);
          }
    
          &:hover {
            &::before {
              width: 80vw;              
            }
          }
        }
      }
      .sub-menu {
        display: flex;
        flex-wrap: wrap;
    
        li {
          margin: 0px 1vw;
    
          &:first-child {
            margin-left: 0;
          }
        }
        li:last-child{
          .dots{
           // hide  : none;
            font-size: 1rem;
            color:val(--color-beige) !important;
          }
        } 
        a {
          color: var(--color-terra-cotta);
          font-family: "argesta_hairlineRgIt";
          font-size: 1.6875rem;
          white-space: nowrap;
        }
      }
      .bottom {
        display: flex;
        flex-wrap: nowrap;
        flex-direction: row;
        align-items: center;
        margin-bottom: 0px;
        
      }
      
      .item {
        flex-basis: 25%;
      }

      .icon-container{
        display: block;
      }
    }
  
    // @media (max-height: 700px) {
    //   align-items: flex-start;

    //   .section-container {
    //     padding: 50px 0;
    //   }
    // }

    // @media (max-width: 580px) {
    //   align-items: flex-start;
    // }
  }

  .main-menu {
    font-size: 2rem;
    margin-top: 50px;
    margin-bottom: 100px;

    li {
      margin: 10px 0;

      &:first-child {
        margin-top: 0;
      }

      &:last-child {
        margin-bottom: 0;
        
      }
    }

    a {
      color: var(--color-anthracite);
      position: relative;

      &::before {
        content: "";
        position: absolute;
        bottom: -20px;
        left: 0;
      //  height: 2px;
        width: 0vw;
        background: var(--color-terra-cotta);
        transition: 1.5s cubic-bezier(0.22, 1, 0.36, 1);
      }

      &:hover {
        &::before {
          width: 80vw;
          
        }
      }
    }

   
    // @media (min-width: 2000px) {
    //   font-size: 4rem;
    // }

    // @media (max-height: 950px) {
    //   margin-bottom: 50px;
    // }

    // @media (max-height: 900px) {
    //   font-size: 2.5rem;

    //   li {
    //     margin: 20px 0px;
    //   }
    // }

    // @media (max-height: 700px) {
    //   font-size: 2.25rem;

    //   li {
    //     margin: 10px 0px;
    //   }
    // }

    // @media (max-width: 580px) {
    //   font-size: 1.75rem;
    // }
  }

  .sub-menu {
    display: flex;
    flex-wrap: wrap;

    li {
      margin: 0px 1vw;
      height:50px;
      &:first-child {
        margin-left: 0;
      }
    }
    // li:last-child{
    //   .dots{
    //    // hide  : none;
    //     font-size: 6rem;
    //     color:val(--color-beige) !important;
    //   }
    // } 
    li:last-child {
      display: none; /* Hide the last dot */
    }

    a {
      color: var(--color-terra-cotta);
      font-family: "argesta_hairlineRgIt";
      font-size: 20px;
      white-space: nowrap;
    }

    // @media (min-width: 2000px) {
    //   a {
    //     font-size: 2.5rem;
    //   }
    // }

    // @media (max-height: 900px) {
    //   a {
    //     font-size: 1.5rem;
    //   }
    // }

    // @media (max-width: 1024px) {
    //   li {
    //     margin: 0 15px 0 0;
    //   }
    // }

    @media (max-width: 768px) {
      flex-wrap: wrap;

      li {
        margin: 0 0 0 0;

        a {
          margin-right: 0px !important;
          font-size: 1.05rem !important;
        }
        .dots{          
           font-size: 3rem !important;
         }
      }
      // li:last-child{
      //   .dots{        
      //     font-size: 6rem;
      //     color:val(--color-beige) !important;
      //   }
      // } 
      li:last-child {
        display: none; /* Hide the last dot on smaller screens */
      }
    }

    // @media (max-width: 580px) {
    //   li {
    //     margin: 0;
    //     padding: 10px;
    //     box-sizing: border-box;
    //     order: 1;
    //   }

    //   [data-item="partnerships"],
    //   [data-item="faq"],
    //   [data-item="after_sale"],
    //   [data-item="blogs"] {
    //     width: 100%;
    //   }

    //   [data-item="faq"] {
    //     order: 2;
    //   }

    //   [data-item="after_sale"] {
    //     order: 3;
    //   }
    // }
  }

  .close-menu-button {
    svg {
      width: 40px;
      transition: 0.5s cubic-bezier(0.22, 1, 0.36, 1);
    }

    &:hover {
      svg {
        transform: rotate(90deg);
      }
    }

    @media (max-width: 768px) {
      svg {
        width: 30px;
      }
    }
  }

  .main-menu,
  .sub-menu {
    
    @media (max-width: 1024px) {
      flex: 7;
    }
  }

  
  nav,
  .bottom {
    display: flex;
    .left {
      flex: 1;
      display: flex;
      align-items: center;
    }
  }

  .icon-container {
    width: 35px;
    //display: flex;
    //align-items: center;
  }

  nav {
    .left {
      @media (max-width: 768px) {
        display: none;
        
      }
    }
  }

  .bottom {
    align-items: center;

    @media (max-width: 580px) {
      align-items: flex-start;
      flex-direction: column;
      margin-bottom: 50px;
      .left {
        order: 2;
        margin-top: 20px;
      }
    }
  }

  .logo-container {
    svg {
      width: 50px;
    }
  }

  .top {
    display: flex;
    justify-content: space-between;

    @media (max-width: 580px) {
      align-items: center;
      margin-top: 50px;
    }
  }

  .language-switcher {
    margin: 0 10px;
    min-width: 103px;
    font-size: 1.25rem;
    color: var(--color-terra-cotta);
    display: flex;
    flex-direction: column;
    position: relative;
    z-index: 200;
    white-space: nowrap;

    &__options-container {
      opacity: 0;
      display: none;
      position: absolute;
      bottom: 60px;
      width: 100%;
      order: 1;

      &--active {
        opacity: 1;
      }
    }

    &__selected {
      display: flex;
      align-items: center;
      cursor: pointer;
      text-align: center;
      order: 0;

      svg {
        margin-left: 10px;
        width: 10px;
      }
    }

    &__option,
    &__selected {
      position: relative;
      overflow: hidden;
      background: var(--color-beige);
      padding: 10px;

      &::before {
        content: "";
        display: block;
        height: 1px;
        width: 100%;
        position: absolute;
        bottom: 0;
        left: 0;
        background: var(--color-terra-cotta);
        transition: 0.5s cubic-bezier(0.22, 1, 0.36, 1);
        transform: translateX(-100%);
      }

      &:hover {
        &::before {
          transform: translateX(0%);
        }
      }
    }

    &__option {
      padding: 5px 0px;
      text-align: center;
      cursor: pointer;
    }

    &__option {
      display: block;
      text-decoration: none;
      color: var(--color-terra-cotta);
    }

    &__label {
      cursor: pointer;
    }

    &__radio {
      display: none;
    }

    @media (min-width: 2000px) {
      font-size: 2rem;
    }

    @media (max-height: 900px) {
      font-size: 1.125rem;
    }

    @media (max-width: 768px) {
      font-size: 1.5rem;

      &__options-container {
        bottom: 40px;
        box-shadow: 0px 5px 5px -3px rgb(0 0 0 / 20%),
          0px 8px 10px 1px rgb(0 0 0 / 14%), 0px 3px 14px 2px rgb(0 0 0 / 12%);
      }

      &__option,
      &__selected {
        padding: 10px;
      }
    }
  }
}
