.partnerships-template {

  

  .section {
    overflow: hidden;
    padding: 0 0 !important;
  
    @media (max-width: 580px) {
      padding: 0 0;
    }
  }
/*copied from benefits*/
.block {
  margin: 100px 0;

  &:last-child {
    margin-bottom: 0;
  }

  @media (max-width: 580px), (max-height: 500px) {
    margin: 50px 0;
  }
}

.image-box-two-section {
  
.mobiletitle{
  line-height:50px;
  font-size:50px;
  @media(max-width:776px)
  {
    line-height:40px;
    font-size:40px;
    color:#78A0A0;
  }
}
.mobiletitle2{
  line-height:50px;
  font-size:50px;
  @media(max-width:776px)
  {
    line-height:30px;
    font-size:30px;
  }
}
.mobileimage{
  display:none;
  @media(max-width:768px)
  {
    display:block;
  }
 }
 .desktopimage{
  display:block;
  @media(max-width:768px)
  {
    display:none;
  }
 }
  .container {   
    display: block;
    justify-content: center;
    width:110%;
    margin:auto;
    margin-left:4%
  }
  .boxpair{
    padding:0 30px
  }
  .boximpair{
    padding:50px 30px 0 30px
  }
  @media(max-width:1279px)
  {
    .container{
      padding:10px;
      margin:0px;
      margin-left:0%;
      width:85%
    }
    .boxpair{
      padding:10px
    }
    .boximpair{
      padding:10px
    }
  }
  .hidenimage{
    display: block;
  }
  @media(max-width: 768px){
    .hidenimage{
      display: none;
    }
  }
}
/* YourPage.css or styles.css */
.image-box-two-section .horizontal-box-groups {
display: flex;
flex-direction: row;
gap: 20px;
width: 100%; /* or specify a fixed width */
}


.devenir-partenaire-section{
  padding-top:10px;
  .content{
    padding: 20px 5% 20px 5%;
  }
}

.only-title-1-section{
  
    overflow: hidden;
    padding-top: 100px!important;
  
    @media (max-width: 580px) {
      padding: 50 0;
    }

  
  //padding-bottom:10px;
  .content{
    padding: 20px 5% 0px 5% !important;
  }
 
}
.only-title-section{
  .content{
    padding: 20px 5% 20px 5%;
  }

}
.only-text-section{
  background-color: #fbf6f1;
  .content{
    padding: 20px 5% 20px 5%;
  }
  
}


.partenaire-ideal-section {
  padding-bottom: 0px !important;
  padding-top: 0px !important;
  .content{
    display: flex;
    padding-bottom: 0px;
  }
  // justify-content: space-between;
  .text-container {
    margin-left: 10%;
    margin-right :10px;
    
    // flex: 1; /* Take up remaining space in the flex container */
    width: 100%;
    flex-direction: row;
  }
  
  .paragraph {
    font-size: 1rem;
    color: #ffffff;
  }

  .subtitle-argesta {
    font-size: 3rem;
    color: #fbf6f1;
  }

  .desktop-image {
    // flex: 1; /* Take up remaining space in the flex container */
    // overflow: hidden; /* Hide any content that overflows the container */
    // width: 100%;

    width: 100%;
  height: 100%;
  overflow: hidden;
  }
  
  .desktop-image img {
    width: 100%; /* Make sure the image takes up the full width of its container */    
    height: 100%; /* Make the image fill the height of its container */
    object-fit: cover; 
  }
  .mobile-image{
    display:none;
  }
  @media (max-width: 1024px) {
    padding-bottom: 50px;

    h4 {
      font-size: 2.75rem;
    }

    .desktop-image {
      width: 50%;
    }
    .text-container {
      margin-left: 10%;
      margin-top: 0px;
      padding-right:20px;
      display: flex;
      text-align:left;
      flex-direction: column;
      align-items: flex-start;
      width:40%;
    }
  }

  @media (max-width: 768px) {
    .mobile-image{
      display:block;
    }
    .desktop-image{
      display:none;
    }
    padding-top: 0;

    .content {
      flex-direction: column;
      left:5%;
      margin:10px
    }
    .title-container{
      order:1;
    }
    .title-container h2{
      width:100%;
      padding:10px 0px;
    }
    .image-container {
      transform: none;
      margin-bottom: 20px;
      order: 2;
    }

    
    .text-container {
      
      order: 3;
      margin-bottom: 0;
      left:5%;
      text-align: left !important;
      margin-left: 0px;
      margin-right: 0px;
    }

    .image-container,
    .text-container {
      width: 100%;
    }

    .line {
      transform: none;
      margin: 50px 0;
      margin-left: auto;
    }
    .link-underline{
      text-align: left;
    }
    .link-before-translate {
      margin-left: 10px; /* Move the link to the left */
    }
  }
}

.background-image-section {
  position: relative;
  box-sizing: border-box;
  height: auto;
  padding:0px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: left;
  
   .mobileimage{
    display:none;
    @media(max-width:768px)
    {
      display:block;
    }
   }
   .desktopimage{
    display:block;
    @media(max-width:768px)
    {
      display:none;
    }
   }
  .image-container{
    width:100%;
    .overlay{
      background-color:#343337;
    }
  }
  .content{
    width:100%;
    height:100%;
  }

  // .subtitle-argesta{
  //   color: #fbf6f1;
  //   font-size: 80px;
  // }
  .text-container{
    position: absolute;
  width: 80%;
  height: 100%;
  padding-left: 10%;
  top: 5%;
  // left: 0%;
  // right: 5%;
  // z-index: 9999;
  }
  @media (max-width: 768px), (max-height: 500px) {
    right: auto;
  

    .content{
      width:100%;
      height:40%;
    }

    span {
      display: none;
    }

    .subtitle-argesta--white{
      font-size: xx-large;
      width:300px
    }
h6{
display: none;
}
    
    .text-container{        
      position: absolute;
      text-align: left;
    
    }
  }
}


.block-text-image {
  margin-top: 0;
  align-items: center;

  .image-container,
  .text-container {
    width: 50%;
  }

  @media (max-width: 768px), (max-height: 500px) {
    .image-container,
    .text-container {
      width: 100%;
    }
    
  }
}

#isolation {
  margin-bottom: -150px;
}

.block-water-quality {
  .text-container {
    order: 2;
    padding-right: 0;
    padding-left: 10%;
  }
  .image-container {
    order: 1;
  }
}
@media (max-width: 768px), (max-height: 500px) {
  
  .block-water-quality .text-container {
    order: 1;
    padding: 0;
  }
}
/*end copied from benefits*/

  .image-circle-container {
    margin: 150px 0;
    width: 50%;
    margin-left: 50%;
    position: relative;
  }

  .center-circle-link {
    position: absolute;
    bottom: 0;
    left: 0;
    transform: translate(-75%, 100%);
  }

  .subtitle-argesta {
    display: inline-block;
    margin: 0px 0 0 0;
  }

  @media (max-width: 768px) {
    .image-circle-container {
      margin: 50px 0;
      margin-left: 50%;
    }
  }

  @media (max-width: 580px) {
    .image-circle-container {
      margin: 50px 0;
      width: 100%;
    }

    .center-circle-link {
      bottom: -30px;
      left: 50%;
      transform: translateX(-50%);
    }
  }
}
