  .price-request-section {
  border-style: solid;
  .formtitle{
    margin:50px 0 50px -3px;
    @media(max-width:1919px)
    {
      margin:calc(100vw * 50px / 1920px) 0 calc(100vw * 50px / 1920px) calc(100vw * -3px / 1920px);
    }
  }
  .subtitle-argesta,
  .wysiwyg {
    margin-bottom: 30px;
  }
  .desktopsteptitle{
    display:inline-block;
    color: var(--color-terra-cotta);
  }
  .mobilesteptitle{
    display:none;
    color: var(--color-terra-cotta);
  }
  .success-form {
    text-align: center;
  }

  .fields {
    display: flex;
    flex-wrap: wrap;
    margin-top:70px;
    @media(max-width:1919px)
    {
      margin-top:calc(100vw * 70px / 1920px);
    }
    .field-group {
      width: 50%;
      box-sizing: border-box;
      margin: 25px 0;

      &:nth-child(even) {
        padding-left: 30px;
      }
      &:nth-child(odd) {
        padding-right: 30px;
      }

      label {
        display: block;
        font-weight: 400;
        font-size:35px;      
        margin-bottom: 0px;
        @media (max-width: 1919px) {
          font-size: calc(100vw * 35px / 1920px) !important;
        }
        @media (max-width: 768px) {
          font-size: calc(100vw * 20px / 430px) !important;
        }
      }
      .MuiSelect-select{
        background-color: white;
        height: 50px;
        border: none;
        outline: none;
        padding:8px;
        @media (max-width:768px) {
          height: calc(100vw * 30px / 430px);
          line-height:calc(100vw * 30px / 430px);
        }
      }
      
#coverseal_reference_number{
  margin-top:23px
}
      input {
        //border: 1px solid #ccc;
        border: none;
  outline: none;
        border-radius: 4px;
        padding: 10px;
        font-size: 20px;
        width: 100%;
        box-sizing: border-box;
        background-color: white;
        height: 65px;
        @media (max-width:768px) {
          height: calc(100vw * 43px / 430px);     
          font-size: calc(100vw * 14px / 430px);     
        }
        
      }
      input {
        border-radius: 4px;
        padding: 10px;
        font-size: 20px;
        width: 100%;
        box-sizing: border-box;
        background-color: white;
        height: 65px;
        @media (max-width:768px) {
          height: calc(100vw * 43px / 430px);    
          font-size: calc(100vw * 14px / 430px);          
        }
        
      }
      select:focus {
        outline: none;
        border-color: #4caf50;
        box-shadow: 0 0 4px #4caf50;
      }
      .MuiInput-underline:hover:not(.Mui-disabled):before {
        border-bottom: 0px;
    }
    .MuiInput-underline:before {
      transition: unset;
      border-bottom: 0px;
  }
  .makeStyles-root-2 .MuiInput-underline:after {
    border-bottom:0px;
}

      // .Mui-error {
      //   color: red;
      //   font-size: 14px;
      //   margin-top: 4px;
      // }

      @media (max-width: 768px) {
        
        width: 100%;

        &:nth-child(even) {
          padding-left: 0px;
        }
        &:nth-child(odd) {
          padding-right: 0px;
        }
      }

      @media (max-width: 768px) {
       
        &.demand-field {
          order: -1;
        }
        
      }
    }

    [data-field="pool_width"],
    [data-field="pool_length"] {
      width: 25%;
      padding: 0 !important;
      padding-right: 30px !important;
    }

    /*[data-field="message"],[data-field="current_pool_specialist"] {
      padding-left: 0px !important;
    }*/

    /*[data-field="add_documents"],
    [data-field="user_come_from"] {
      padding-right: 0px !important;
      padding-left: 30px !important;
    }*/

    @media (max-width: 768px) {
      [data-field="pool_width"],
      [data-field="pool_length"] {
        width: 50%;
      }

      [data-field="pool_length"] {
        padding-right: 0px !important;
      }

      [data-field="add_documents"],
      [data-field="user_come_from"] {
        padding-left: 0px !important;
      }
    }
    @media (max-width: 900px) {
      [data-field="pool_width"],
      [data-field="pool_length"] {
        width: 100%;
      }

      [data-field="pool_length"],[data-field="pool_width"]  {
        padding-right: 0px !important;
      }

      [data-field="add_documents"],
      [data-field="user_come_from"] {
        padding-left: 0px !important;
      }
    }
  }

  .PrivateSwitchBase-root-12{
    border:2px !important;
    opacity :100% !important;
    
  }
  label,
  span {
    font-size: 25px;
    color: var(--color-anthracite);
    //text-transform: uppercase;
    letter-spacing: 1px;
    color: var(--color-anthracite);

    @media (max-width: 768px) {
      font-size: calc(100vw * 14px / 430px) !important;
    }

  }

  input,
  label,
  span {
    font-family: "Lexend";
    font-weight: 200;
    font-size:25px;
    @media(max-width:1919px)
    {
      font-size:calc(100vw * 25px / 1919px)
    }
  }

  span {
    flex: 1;
  }

  .submit {
    // background-color: var(--color-terra-cotta);
    // color: white;


    margin-top: 30px;
    margin-left: 0px;

    &:hover {
      // background-color: var(--color-terra-cotta);
      color: var(--color-white);
    }

    @media (max-width: 768px) {
      margin-left: 0;
    }
  }

  .radio-container {
    display: flex;
    align-items: center;
    justify-content: flex-end;

    label {
      cursor: pointer;
    }
  }

  .input {
    height: 50px;
  }

  textarea.input {
    height: 100px;
    max-width: 100%;
  }

  input[type="radio"] {
    width: auto;
    appearance: none;
    padding: 0;
    margin: 0 25px;
    cursor: pointer;
    border-radius: 100px;
    border: solid 1px black;
    width: 12px;
    height: 12px;
    position: relative;
    overflow: visible;

    &::before {
      content: "";
      display: block;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      padding: 10px;
      border-color: transparent;
      border-style: solid;
      border-width: 1px;
      border-radius: 100px;
    }

    &:focus {
      &::before {
        border-color: var(--color-anthracite);
      }
    }

    &:checked {
      background: var(--color-terra-cotta);
    }

    @media (max-width: 768px) {
      margin: 0 calc(100vw * 10px / 430px);
    }
  }

  .loader-container {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  @media(max-width:1160px)
  {
    [data-field="pool_width"] label,[data-field="pool_length"] label
    {
      margin-top:-20px
    }
  }
  @media(max-width: 768px)
  {
    [data-field="city"],[data-field="zip_code"],[data-field="country"]
    {
      padding-left:0px !important;
      order:1 !important
    }
  }
  @media(max-width: 768px)
  {
    .desktopsteptitle{
      display:none;
    }
    .mobilesteptitle{
      display:inline-block;
    }
  }
  }

  .price-request-section .fields .field-group label {

    position :relative;
  }
.catalogue-request-home-section {
  .catalogmobiletitle{
    @media(max-width:768px)
    {
      font-size:calc(100vw * 30px / 430px);
      margin-bottom:calc(100vw * 16px / 430px) !important;
    }
  }
  .legal-checkbox .MuiSvgIcon-root {
    width: 40px;
    height: 40px;
    color:#707070;
}
.section-container{
  width:1400px !important;
  margin-left:calc((100vw - 1600px) / 2);
  @media(max-width:1919px)
  {
    width:calc(100vw * 1400px / 1920px) !important;
    
    margin-left:calc(100vw * 160px / 1920px);
    
  }
  @media(max-width: 768px)
  {
    width :calc(100vw * 344px / 430px) !important;
    margin:auto !important;
  }
}
  .subtitle-argesta,
  .wysiwyg {
    margin-bottom: 30px;
  }
  .makeStyles-root-2 .MuiInput-underline:after {
    border-bottom-color: white;
}
.MuiInputBase-root{
  color:white
}
.MuiInput-underline:hover:not(.Mui-disabled):before {
  border-bottom: 1px solid white;
}
.MuiInput-underline:before {
  left: 0;
  right: 0;
  bottom: 0;
  content: "\00a0";
  position: absolute;
  transition: border-bottom-color 200ms cubic-bezier(255, 255, 255, 1) 0ms;
  border-bottom: 1px solid rgba(255, 255, 255, 1);
  pointer-events: none;
}
  .success-form {
    text-align: center;
  }
.legal-container{
  .MuiFormControlLabel-label{
    color:#808080;
  }
  .legal-checkbox{
    color:#808080;
    @media(max-width: 768px)
  {
    margin-top:calc(100vw * 10px / 430px);
  }
  }
  @media(max-width: 768px)
  {
    margin-top:calc(100vw * 20px / 430px);
  }
}
  .fields {
    width:800px;
    display: flex;
    flex-wrap: wrap;
    @media (max-width: 1919px) {
      width:calc(100vw * 800px / 1920px);
    }
    @media (max-width: 768px) {
      width:100%;
    }
    .field-group {
      width: 50%;
      box-sizing: border-box;
      margin: 0px 0;
      margin-bottom:8px;
      &:nth-child(even) {
        padding-left: 30px;
      }
      &:nth-child(odd) {
        padding-right: 30px;
      }

      @media (max-width: 768px) {
        margin: calc(100vw * 5px / 430px) 0 !important;
        width: 100%;

        &:nth-child(even) {
          padding-left: 0px;
        }
        &:nth-child(odd) {
          padding-right: 0px;
        }
      }

      @media (max-width: 768px) {
        margin:10px 0;
        width:calc(100vw * 344px / 430px);
        &.demand-field {
          order: -1;
        }
      }
    }

    [data-field="pool_width"],
    [data-field="pool_length"] {
      width: 25%;
      padding: 0 !important;
      padding-right: 30px !important;
    }

    /*[data-field="message"],[data-field="current_pool_specialist"] {
      padding-left: 0px !important;
    }*/

    /*[data-field="add_documents"],
    [data-field="user_come_from"] {
      padding-right: 0px !important;
      padding-left: 30px !important;
    }*/

    @media (max-width: 768px) {
      [data-field="pool_width"],
      [data-field="pool_length"] {
        width: 50%;
      }

      [data-field="pool_length"] {
        padding-right: 0px !important;
      }

      [data-field="add_documents"],
      [data-field="user_come_from"] {
        padding-left: 0px !important;
      }
    }
    @media (max-width: 900px) {
      [data-field="pool_width"],
      [data-field="pool_length"] {
        width: 100%;
      }

      [data-field="pool_length"],[data-field="pool_width"]  {
        padding-right: 0px !important;
      }

      [data-field="add_documents"],
      [data-field="user_come_from"] {
        padding-left: 0px !important;
      }
    }
  }

  label,
  span {
    color: var(--color-white);
    text-transform: uppercase;
    letter-spacing: 1px;
  }
.legal-container{
  span{
    font-weight:200;
  }
}
  input,
  label,
  span {
    font-family: "Lexend";
    font-weight: 300;
    text-transform: capitalize;
    color:#808080;
    @media(max-width: 768px)
    {
      font-size:calc(100vw * 16px / 430px);
    }
  }

  span {
    flex: 1;
  }

  .submit {
    margin-top: 41px;
    margin-left: 0px;

    

    @media (max-width: 768px) {
      margin-left: 0;
      
    }
  }

  .radio-container {
    display: flex;
    align-items: center;
    justify-content: flex-end;

    label {
      cursor: pointer;
    }
  }

  .input {
    height: 50px;
  }

  textarea.input {
    height: 100px;
    max-width: 100%;
  }

  input[type="radio"] {
    width: auto;
    appearance: none;
    padding: 0;
    margin: 0 25px;
    cursor: pointer;
    border-radius: 100px;
    border: solid 1px white;
    width: 12px;
    height: 12px;
    position: relative;
    overflow: visible;

    &::before {
      content: "";
      display: block;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      padding: 10px;
      border-color: transparent;
      border-style: solid;
      border-width: 1px;
      border-radius: 100px;
    }
    
    &:focus {
      &::before {
        border-color: var(--color-anthracite);
      }
    }

    &:checked {
      background: var(--color-anthracite);
    }

    @media (max-width: 768px) {
      margin: 0 calc(100vw * 10px / 430px);
    }
  }

  .loader-container {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  @media(max-width:1160px)
  {
    [data-field="pool_width"] label,[data-field="pool_length"] label
    {
      margin-top:-20px
    }
  }
  @media(max-width: 768px)
  {
    [data-field="city"],[data-field="zip_code"],[data-field="country"]
    {
      padding-left:0px !important;
      order:1 !important
    }
  }
  }

.after-sale-section {


  .subtitle-argesta {
    margin-bottom: 0;
  }
  [data-field="coverseal_reference_number"] label {
    font-size: 13px !important;
    line-height: 20px;
    margin-top: -15px;
  }
  .wysiwyg {
    margin-bottom: 50px;
    font-size: 25px;
    color: var(--color-anthracite);
  }
  @media (max-width: 768px) {
    [data-field="coverseal_reference_number"]{
      margin-right: 0px !important
    }
    [data-field="zip_code"],[data-field="coverseal_reference_number"],[data-field="city"]{
      padding: 0px !important
    }
  }
}

.MuiFormControlLabel-label {
  white-space: nowrap;
}

.catalog-request-section {
  .fields {
    [data-field="message"] {
      padding-left: 0px !important;
    }
    /*[data-field="current_pool_specialist"] {
      padding-left: 30px !important;
      padding-right:0px !important
    }*/
    @media (max-width: 768px) {
      [data-field="message"],[data-field="zip_code"] {
        padding-left: 0px !important;
      }
      [data-field="current_pool_specialist"] {
        padding-left: 0px !important;
      }
    }
  }
}
