$size: auto;

.side-nav {
  position: absolute;// fixed;
  left: 10%;
  top: 0%; /* Updated: Set top to 0 */
  /*transform: translateX(-50%); /* Updated: Center horizontally */
  z-index: 90;
width:80%;
margin:auto;
  //right: 1%;
  //top: 130px;
   


  &.padding-right {
    padding-right: 15px;
  }


  ul {
    width:100%;
    display:block;
  }

  li {
    margin: 0px;
    display:inline-block;
    width:18%;
    text-align: left;
  }

  a {
    display: block;
    width: 100%;
    max-width:100%;
    height:100px;
    align-items: center;
   // justify-content: flex-end;
    padding-top: 15px;
    padding-bottom: 15px;
    font-family: "Poppins";
   // text-transform: uppercase;
    // font-size: 0.8vw;
    font-size:30px;
    position: relative;
    overflow: hidden;

    .text {
      width: 180px;
      max-width: 100%;
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      
    }

    svg {
      width: $size;
      height: $size;
      transition: 0.5s cubic-bezier(0.22, 1, 0.36, 1);
    }

    &:hover {
      

      svg {
        transition: 0.5s cubic-bezier(0.22, 1, 0.36, 1);
      }
    }
    @media(max-width:1500px) {
      font-size:16px;
    }
    @media(max-width:1200px) {
      font-size:12px;
    }
    @media(max-width:1000px) {
      font-size:11px;
    }
  }


  .logo{
    margin-top:0px;
    svg{
      height:70px;
      margin-left:0px;
      margin-right: auto;
      stroke: var(--color-terra-cotta);
      fill:var(--color-terra-cotta);
    }
  }


  .price-request {
    svg {
      transform: translateX(-3px);
      height:27px !important;
      height:27px !important;
      padding:3px;
    }
  }

  .after-sale {
    svg {
      transform: scale(1.5);
    }
  }

  .partnerships {
    svg {
      transform: scale(2);
    }
  }

  .white {
    a {

      .text {
        color: var(--color-white);
      }

      svg {
        fill: var(--color-white);
        stroke: var(--color-white);
          stroke-width:1.5px
      }

      &:hover {
        
        svg {
          fill: var(--color-white);
        }
      }
    }

    .after-sale {
      svg {
        .cls-2 {
          stroke: var(--color-white);
        }

        .cls-1,
        .cls-2 {
          fill: var(--color-white);
        }

        &:hover {
          .cls-1,
          .cls-2 {
            fill: var(--color-white);
          }
          .cls-2 {
            stroke: var(--color-white);
          }
        }
      }
    }

    .partnerships {
      .cls-1 {
        fill: var(--color-white);
      }

      .cls-2 {
        stroke: var(--color-white);
      }

      &:hover {
        .cls-1 {
          fill: var(--color-terra-cotta);
        }

        .cls-2 {
          stroke: var(--color-terra-cotta);
        }
      }
    }
  }

  .terra-cotta {
    a {

      .text {
        color: var(--color-terra-cotta);
      }

      svg {
        stroke: var(--color-terra-cotta);
        fill: var(--color-terra-cotta);
          stroke-width:1.5px
      }

      &:hover {

        svg {
          stroke: var(--color-terra-cotta);
          fill:none;
          stroke-width:1.5px
        }
      }
    }

    .after-sale {
      svg {
        .cls-1,
        .cls-2 {
          fill: var(--color-terra-cotta);
        }
        .cls-2 {
          stroke: var(--color-terra-cotta);
        }

        &:hover {
          .cls-1,
          .cls-2 {
            fill: var(--color-white);
          }
          .cls-2 {
            stroke: var(--color-white);
          }
        }
      }
    }

    .partnerships {
      .cls-1 {
        fill: var(--color-terra-cotta);
      }

      .cls-2 {
        stroke: var(--color-terra-cotta);
      }

      &:hover {
        .cls-1 {
          fill: var(--color-white);
        }

        .cls-2 {
          stroke: var(--color-white);
        }
      }
    }
  }

  @media (max-width: 1024px) {
    
    
    a{
      display: none;
    }
    .logo{
      display:block;
      svg{
        width:60px;
        margin-left: 0;
        stroke: var(--color-terra-cotta);
      }
    }
  }

  

  @media (max-height: 500px) {
    top: 30px;
  }
}
