$size: auto;

.side-nav {
  position: fixed;// fixed;
  left: 50%;
  top: 5%; /* Updated: Set top to 0 */
  transform: translateX(-50%); /* Updated: Center horizontally */
  z-index: 90;
  //right: 1%;
  //top: 130px;
   


  &.padding-right {
    padding-right: 15px;
  }


  ul {
    display: flex;
   // flex-direction: column;
    align-items: flex-end;
  }

  li {
    margin: 0 10px;
  }

  a {
    display: flex;
    width: 200px;
    align-items: center;
   // justify-content: flex-end;
    padding: 15px;
    font-family: "Poppins";
    text-transform: uppercase;
    font-size: 0.875rem;
    letter-spacing: 1px;
    position: relative;
    overflow: hidden;

    .text {
      flex: 1;
      width: 180px;
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      
    }

    svg {
      width: $size;
      height: $size;
      transition: 0.5s cubic-bezier(0.22, 1, 0.36, 1);
    }

    &:hover {
      

      svg {
        transition: 0.5s cubic-bezier(0.22, 1, 0.36, 1);
      }
    }
  }


  .logo{
    svg{
      width:100px;
      margin-left:0px;
      margin-right: auto;
      
    }
  }


  .price-request {
    svg {
      transform: translateX(-3px);
      height:27px !important;
      height:27px !important;
      padding:3px;
    }
  }

  .after-sale {
    svg {
      transform: scale(1.5);
    }
  }

  .partnerships {
    svg {
      transform: scale(2);
    }
  }

  .white {
    a {

      .text {
        color: var(--color-white);
      }

      svg {
        //fill: var(--color-white);
        stroke: var(--color-white);
        fill:none;
          stroke-width:1.5px
      }

      &:hover {
        
        svg {
          fill: var(--color-terra-cotta);
        }
      }
    }

    .after-sale {
      svg {
        .cls-2 {
          stroke: var(--color-white);
        }

        .cls-1,
        .cls-2 {
          fill: var(--color-white);
        }

        &:hover {
          .cls-1,
          .cls-2 {
            fill: var(--color-terra-cotta);
          }
          .cls-2 {
            stroke: var(--color-terra-cotta);
          }
        }
      }
    }

    .partnerships {
      .cls-1 {
        fill: var(--color-white);
      }

      .cls-2 {
        stroke: var(--color-white);
      }

      &:hover {
        .cls-1 {
          fill: var(--color-terra-cotta);
        }

        .cls-2 {
          stroke: var(--color-terra-cotta);
        }
      }
    }
  }

  .terra-cotta {
    a {

      .text {
        color: var(--color-terra-cotta);
      }

      svg {
        stroke: var(--color-terra-cotta);
        fill:none;
          stroke-width:1.5px
      }

      &:hover {

        svg {
          stroke: var(--color-white);
          fill:none;
          stroke-width:1.5px
        }
      }
    }

    .after-sale {
      svg {
        .cls-1,
        .cls-2 {
          fill: var(--color-terra-cotta);
        }
        .cls-2 {
          stroke: var(--color-terra-cotta);
        }

        &:hover {
          .cls-1,
          .cls-2 {
            fill: var(--color-white);
          }
          .cls-2 {
            stroke: var(--color-white);
          }
        }
      }
    }

    .partnerships {
      .cls-1 {
        fill: var(--color-terra-cotta);
      }

      .cls-2 {
        stroke: var(--color-terra-cotta);
      }

      &:hover {
        .cls-1 {
          fill: var(--color-white);
        }

        .cls-2 {
          stroke: var(--color-white);
        }
      }
    }
  }

  @media (max-width: 1024px) {
    right: 0.5%;
  }

  @media(max-width: 768px){
      .text{
        display: none;
      }
      .logo{
        svg{
          width:60px;
          margin-left: 0;
         
        }
      }
  }

  @media (max-height: 500px) {
    top: 30px;
  }
}
