.the-coverseal-template {
  
  .first-section {
    overflow: initial;
    padding-bottom: 0;
   
    @media (max-width:768px) {
      .section-container{
        padding-bottom:20px !important;
      }
    }
  }

  .fifth-section {
    overflow: initial;
    padding-bottom: 0;
    padding-top:20px;
    padding-left:5%;
  }


  .line-alone {
    width: 80vw;
    height: 1px;
    background: var(--color-terra-cotta);
    margin: 50px 0;
    margin-left: auto;

    @media (max-width: 580px), (max-height: 500px) {
      margin: 75px 0;
      margin-left: auto;
    }
  }


  .image-row-container {
    display: flex;
    flex-basis: 30%;
    align-items: center;

  // flex-wrap: wrap;
  // justify-content: space-between;
  }
  .image-row {
    display: flex;
    justify-content: space-between;
    margin-top: 2rem;
    width: 100%;
  }
  .image-container {
    flex-basis: 30%;
    padding: 0 1rem;
    position: relative;
    margin-right: 20px;
    
  }




  .test-section-mobile{
    display: none;
    @media (max-width: 768px) {
      display:block;
      padding-top:25px;
      padding-bottom:25px;
      padding-left:5%;
      justify-content: center;
    .image-text {
      margin-left: 10%;
      width: 70%;   
        
      position: absolute;
      bottom: 0;
      left: 0;
      right: 0;
      font-size: 0.8rem;
      color: white;
      text-align: center;
      .overlay{
        background-color:#34333780;
      }
    }
    

    .link-before-translate {
      padding: 0px 10px;
      font-size: 0.75rem;
      letter-spacing: "0px" !important;
    }
    .link-before-translate--white{
      letter-spacing: 0px !important;
    }

    .image-gallery {
      background-color: val(--color-beige);
      display: flex;
      flex-wrap: wrap;
      gap: 10px;
    }
    .image-container {
      background: linear-gradient(to bottom, rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0));
      box-shadow: inset 0 -200px 200px -100px rgba(0, 0, 0, 0.5);
      
      flex-basis: 45%;
      padding: 0 0;
      position: relative;
      margin-right: 0px;
      justify-content: center;
    }
    Image {
      width: calc(30% - 10px);
      margin-bottom: 20px;
    }
    .subtitle-argesta--white{
      font-size: 1.5rem;
    }
    }
  }

  .image-text {
    margin-left: 10%;
      width: 40%;   
      
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    
    color: white;
    padding: 1rem;
    text-align: center;
    .overlay{
      background-color:#34333780;
    }
  }


  .six-section {
    position: relative;
    box-sizing: border-box;
    height: auto;
    padding:0px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: right;
    .image-container{
      width:100%;
      .overlay{
        background-color:#34333780;
      }
    }
    .content{
      width:100%;
      height:100%;
    }
    .text-container{
      position: absolute;
    width: 40%;
    height: 100%;
    top: 20%;
    right: 10%;
    z-index: 9999;
    }
    @media (max-width: 768px), (max-height: 500px) {
      right: auto;
    

      .content{
        width:100%;
        height:40%;
      }

      span {
        display: none;
      }

      .subtitle-argesta--white{
        font-size: xx-large;
        width:300px
      }
h6{
  display: none;
}
      
      .text-container{        
        position: absolute;
        text-align: left;
      width: 0%;
      height: 0%;
      top: 5%;
      left: 10%;
      
      }
    }
  }


  .block {
    margin: 100px 0;

    .link-before-translate {
      margin-top: 50px;
    }

    @media (max-width: 768px) {
      margin: 75px 0;
 
        .imageRow {
          flex-direction: "column";
        }
        .imageContainer {
          flex-basis: 45%;
          margin-right: 0;
        }
    }

    @media (max-width: 580px), (max-height: 500px) {
      margin: 50px 0;
    }
  }

  .block-certificate {
    display: flex;
    align-items: center;

    .text-container {
      width: 45%;
      margin-left: 10%;
      
    }

    .image-container {
      width: 35%;
    }

    @media (max-width: 768px), (max-height: 500px) {
      flex-direction: column;
      .text-container,
      .image-container {
        width: 100%;
        margin: 0;
      }

      .image-container {
        order: 2;
        margin-top: 30px;
      }
    }
  }

  .block-comfort {
    margin-bottom: 0;

    .content {
      display: flex;
      justify-content: flex-end;
      align-items: center;
      margin-left: 10%;
      position: relative;
      z-index: 5;

      .text-container {
        width: 45%;
        margin-right: 10%;
      }

      .image-container {
        width: 35%;
      }
    }

    .image-on-top {
      text-align: center;
      transform: translate(100px, -100px);

      img {
        width: 40%;
      }

      @media (max-width: 1024px) {
        transform: translate(150px, -80px);
      }
    }

    @media (max-width: 768px), (max-height: 500px) {
      .content {
        flex-direction: column;
        margin: 0 7.5%;

        .text-container,
        .image-container {
          width: 100%;
          margin: 0;
        }

        .image-container {
          margin-top: 50px;
        }
      }

      .image-on-top {
        margin: 50px 7.5%;
        img {
          width: 100%;
        }

        transform: none;
      }
    }

    @media (max-width: 580px) {
      .content {
        margin: 0 5%;
      }

      .image-on-top {
        margin: 50px 5%;
      }
    }
  }

  .block-discretion {
    margin-top: 0;
    margin-bottom: 0;

    .content {
      display: flex;
      align-items: center;
    }

    .text-container {
      margin-left: 10%;
      width: 50%;    
    }

    .image-first {
      width: 45%;
    }

    .image-second {
      position: relative;
      flex: 2;
      z-index: 80;
      overflow: initial;

      .image-container {
        position: absolute;
        width: 100%;
        top: 0;
      }
    }

    .image-third {
      position: relative;
      display: flex;
      align-items: flex-end;
    }

    .images-container {
      margin-top: 50px;
      display: flex;
    }

    .circle-image-container {
      flex: 3;
      padding-left: 5%;
      box-sizing: border-box;
      position: relative;
    }

    .center-circle-link {
      position: absolute;
      right: 0;
      bottom: -30px;
    }

    @media (max-width: 768px), (max-height: 500px) {
      .content {
        flex-direction: column;
        margin: 0 10%;
      }

      .text-container,
      .image-container {
        width: 100%;
        margin: 0;
      }

      .image-container {
        order: 2;
        margin-top: 50px;
      }

      .images-container {
        flex-direction: column;
      }

      .circle-image-container {
        padding: 0;
        flex: 1;
      }

      .image-second {
        width: 100%;
        flex: 1;
        z-index: initial;

        .image-container {
          position: static;
          margin: 0;
        }
      }

      .image-container .overlay {
        z-index: initial !important;
      }

      .center-circle-link {
        right: auto;
        top: 0%;
        left: auto;
        bottom: auto;
      }
    }

    @media (max-width: 580px), (max-height: 500px) {
      .content {
        margin: 0 5%;
      }
    }
  }



  .right-image-section {
    overflow: initial;
    padding-top: 20px !important;
    padding-bottom: 20px !important;
    .mobile-image{
      display:none
    }
    a {
      display: inline-block;
      margin-left: 0px;
      width:350px;
    }

    .link-underline {
      &::before {
        bottom: 0px;
      }
    }

    .content {
      display: flex;
      align-items: center;
    }

    .desktop-image {
      width: 40%;
      margin-left:10%
    }

    h3 {
      margin-bottom: 50px;
    }

   
    .text-container {
      margin-right: 10%;
      margin-top: 0px;
      padding-left:20px;
      display: flex;
      text-align:left;
      flex-direction: column;
      align-items: flex-start;
      width:40%;
      font-size:1.2rem;
    }

    .line {
      width: 80%;
      margin-left: auto;
      height: 2px;
      background: var(--color-terra-cotta);
      transform: translateY(-100px);
    }

    // @media (max-width: 1024px) {
    //   padding-bottom: 50px;

    //   h4 {
    //     font-size: 2.75rem;
    //   }

    //   .image-container {
    //     width: 50%;
    //   }
    //   .text-container {
    //     margin-right: 10%;
    //     margin-top: 0px;
    //     padding-left:20px;
    //     display: flex;
    //     text-align:left;
    //     left:10%;
    //     flex-direction: column;
    //     align-items: flex-start;
    //     width:40%;
    //   }
    // }

    @media (max-width: 768px) {
     // margin:10%;
      justify-content: center;
      .mobile-image{
        display:block
      }
      .desktop-image{
        display:none;
      }
      padding-top: 0;

      .content {
        flex-direction: column;
        margin-left: 10px;
        margin-right: 25px;
      }

      .image-container {
        transform: none;
        margin-bottom: 50px;
        width:80% !important;
      }

      .text-container {
        margin-bottom: 0;
        margin-left: 15%;
      }

      .image-container,
      .text-container {
        width: 100%;
      }

      .line {
        transform: none;
        margin: 50px 0;
        margin-left: auto;
      }
    }
  }



  .left-image-section {
    overflow: initial;
    padding-top: 20px !important;
    padding-bottom: 20px !important;
    .mobile-image{
      display:none;
    }
    a {
      display: inline-block;
      margin-left: calc(100% - 168px);
    }

    .link-underline {
      &::before {
        bottom: 0px;
      }
    }

    .content {
      display: flex;
      align-items: center;
      //flex-direction: column;
    }

    .desktop-image {
      width: 40%;
    }
    .image-container
    {
      width:100%
    }
    h3 {
      margin-bottom: 50px;
    }

    .text-container {
      margin-left: 10%;
      margin-top: 0px;
      padding-right:20px;
      display: flex;
      text-align:right;
      flex-direction: column;
      align-items: flex-start;
      width:40%;
      font-size:1.2rem;
    }

    .line {
      width: 80%;
      margin-left: auto;
      height: 2px;
      background: var(--color-terra-cotta);
      transform: translateY(-100px);
    }

    // @media (max-width: 1024px) {
    //   padding-bottom: 50px;

    //   h4 {
    //     font-size: 2.75rem;
    //   }

    //   .desktop-image {
    //     width: 50%;
    //   }
    //   .text-container {
    //     margin-left: 10%;
    //     margin-top: 0px;
    //     padding-right:20px;
    //     display: flex;
    //     text-align:left;
    //     flex-direction: column;
    //     align-items: flex-start;
    //     width:40%;
    //   }
    // }

    @media (max-width: 768px) {
      justify-content: center;
      .mobile-image{
        display:block;
      }
      .desktop-image{
        display:none;
      }
      padding-top: 0;

      .text-container{
        h2{
          text-align: left !important;
        }
        
        width:80%  !important;
      }
      .content {
        flex-direction: column;
        left:5%;
        margin:10px
      }
      .title-container{
        order:1;
      }
      .title-container h2{
        width:100%;
        padding:10px 0px;
        text-align: left !important;
      }
      .image-container {
        transform: none;
        margin-bottom: 20px;
        order: 2;
        //width:100% !important;
      }

      
      .text-container {
        
        order: 3;
        margin-bottom: 0;
        left:5%;
        text-align: left !important;
        margin-left: 10px;
        margin-right: 10px;
      }

      .image-container,
      .text-container {
        width: 100%;
      }

      .line {
        transform: none;
        margin: 50px 0;
        margin-left: auto;
      }
      .link-underline{
        text-align: left;
      }
      .link-before-translate {
        margin-left: 10px; /* Move the link to the left */
      }
    }
  }


  .test-section{
    display:block;
    padding-top:25px;
    padding-bottom:25px;
    padding-left:10%;
    justify-content: center;
    .image-text {
      margin-left: 10%;
        width: 40%;   
        
      position: absolute;
      bottom: 0;
      left: 0;
      right: 0;
      font-size: 3rem;
      color: white;
     // padding: 1rem;
      text-align: center;
      .overlay{
        background-color:#34333780;
      }
    }
    .image-gallery {
      display: flex;
      flex-wrap: wrap;
      gap: 10px;
    }
    .image-container {
      background: linear-gradient(to bottom, rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0));
      box-shadow: inset 0 -200px 200px -100px rgba(0, 0, 0, 0.5);
      
      flex-basis: 32%;
      padding: 0 0;
      position: relative;
      margin-right: 0px;
      justify-content: center;
    }
    Image {
      width: calc(30% - 10px);
      margin-bottom: 20px;
    }
    .subtitle-argesta--white{
      font-size: 2.5rem;
    }
    
    @media (max-width: 768px) {
      display: none;
      .image-text {
        font-size: 0.4rem;
      }
      .subtitle-argesta--white{
        font-size: 1rem;
      }
      .link-before-translate--white{
        font-size: 0.8rem;
      }
      Image {
        width: calc(30% - 10px);
      }
      .image-container {
        flex-basis: 33%;
        padding: 0 0;
        position: relative;
        margin-right: 0px;
        justify-content: center;
      }
    }
  }

  .section-why {
    padding-top: 250px;
    padding-bottom: 150px;

    // a {
    //   white-space: pre-wrap;
    // }

    // .why-coverseal-container {
    //   a {
    //     font-size: 1.125rem;
    //     margin-left: auto;
    //     max-width: 25%;
    //     margin-right: 3%;
    //   }
    // }

    .section-container {
      display: flex;
      align-items: center;
     
      // justify-content: space-between;

      a {
        color: var(--color-anthracite);
      }
    }

    .subtitle-argesta {
      font-size: 4.375rem;
      margin: 100px 0;
    }

    @media (max-width: 768px) {
      padding: 200px 0;
      padding-bottom: 150px;

      .subtitle-argesta {
        font-size: 3rem;
        margin: 100px 50px;
      }
    }

    @media (max-width: 580px), (max-height: 500px) {
      padding: 100px 0;

      .subtitle-argesta {
        font-size: 2.25rem;
        margin: 50px 0;
      }
    }
  }
}
